<div class="add-search pb-4">
  <app-navigator [title]="title"></app-navigator>

  <div class="tables-data mt-3 overflow-hidden">
    <!-- buttons -->
    <div class="flex justify-between gap-2 items-center my-3 flex-wrap">

      <!---------------------------------------------------------------------------->
      <div class="flex gap-2 controler">
        <button
          class="flex gap-1 btn btn-primary"
          (click)="openModal(dataModal, null, 'addClient')"
        >
          <span
            class="hidden md:block"
            [translate]="'name'"
            [translateParams]="{
              ar: 'عميل جديد ',
              en: 'New Customer '
            }"
          ></span>
          <i class="fa-solid fa-user-plus"></i>
        </button>

        <button class="flex gap-1 btn btn-danger" (click)="dataSearch.filter.showFilters = !dataSearch.filter.showFilters;">
        <span
          class="hidden md:block"
          [translate]="'name'" [translateParams]="{ar: 'بحث ',en: 'Search '}"></span>
        <i class="fa-solid fa-search"></i>
        </button>

        <button
          class="flex gap-1 btn btn-warning"
          (click)="exportData()"
        >
          <span
            class="hidden md:block"
            [translate]="'name'"
            [translateParams]="{
              ar: 'تصدير ملف إكسل',
              en: 'Export To Excel'
            }"
          ></span>
          <i class="fa-solid fa-file-export"></i>
        </button>
      </div>
    </div>

    <div *ngIf="dataSearch.filter.showFilters" class="flex gap-6 flex-wrap items-end mb-4">

      <div class="max-w-xs">
        <label class="col-form-label"> {{ "أسم العميل" | translate }}</label>
  
        <ng-select
          #CustomerName
          [items]="dataSearch.filter.ListName"
          bindLabel="name"
          bindValue="id"
          [clearable]="true"
          class="w-full p-0"
          [(ngModel)]="dataSearch.filter.customerId"
          placeholder="{{ 'Chose' | translate }}"
          (change)="RefreshData()"
        >
        </ng-select>
      </div>
      <div class="max-w-xs">
        <label class="col-form-label"> {{ "كود العميل" | translate }}</label>
  
        <ng-select
          #CustomerName
          [items]="dataSearch.filter.ListCode"
          bindLabel="name"
          bindValue="id"
          [clearable]="true"
          class="w-full p-0"
          [(ngModel)]="dataSearch.filter.customerId"
          placeholder="{{ 'Chose' | translate }}"
          (change)="RefreshData()"
        >
        </ng-select>
      </div>
      <div class="max-w-xs">
        <label class="col-form-label"> {{ "رقم تليفون العميل" | translate }}</label>
  
        <ng-select
          #CustomerName
          [items]="dataSearch.filter.ListPhone"
          bindLabel="name"
          bindValue="id"
          [clearable]="true"
          class="w-full p-0"
          [(ngModel)]="dataSearch.filter.customerId"
          placeholder="{{ 'Chose' | translate }}"
          (change)="RefreshData()"
        >
        </ng-select>
      </div>
      <div class="max-w-xs">
        <label class="col-form-label"> {{ "المنطقة" | translate }}</label>
  
        <ng-select
          #CustomerName
          [items]="dataSearch.filter.ListCity"
          bindLabel="name"
          bindValue="id"
          [clearable]="true"
          class="w-full p-0"
          [(ngModel)]="dataSearch.filter.cityId"
          placeholder="{{ 'Chose' | translate }}"
          (change)="RefreshData()"
        >
        </ng-select>
      </div>
      <button
        class="btn btn-primary"
        (click)="dataSearch.filter.enable = !dataSearch.filter.enable;ClearDate();"
        [translate]="'name'"
        [translateParams]="{
          ar: 'فلترة بالوقت',
          en: 'Time Filter'
        }"
      ></button>
      <div class="form-group col-md-2 timeInput" *ngIf="dataSearch.filter.enable">
        <input
          placeholder="{{ 'Chose Date' | translate }}"
          [(ngModel)]="dataSearch.filter.date"
          type="text"
          (ngModelChange)="CheckDate($event)"
          class="form-control"
          [bsConfig]="{ rangeInputFormat: 'DD/MM/YYYY' }"
          bsDaterangepicker
          #dpr="bsDaterangepicker"
        />
      </div>
  
      <div class="w-fit">
        <input
          class="form-control"
          (keyup)="applyFilter($event)"
          placeholder="{{ 'search' | translate }}"
          #input
        />
      </div>
    </div>


    <!-- table -->
    <div class="overflow-auto">
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        class="mat-elevation-z8 rounded-t-lg overflow-hidden w-max"
      >
        <!-- name Column -->
        <ng-container matColumnDef="branchName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span>{{'الفرع'}}</span>

          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.branchName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="customerCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span>{{'كود العميل '}}</span>

          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.customerCode }}
          </td>
        </ng-container>
        <ng-container matColumnDef="nameAr">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span>{{'اسم العميل'}}</span>

          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.nameAr }}
          </td>
        </ng-container>
        <ng-container matColumnDef="mainPhoneNo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span>{{'تليفون العميل'}}</span>
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.mainPhoneNo }}
          </td>
        </ng-container>
        <ng-container matColumnDef="cityName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span>{{'المنطقة'}}</span>
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.cityName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span>{{'العنوان'}}</span>
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.address }}
          </td>
        </ng-container>
        <ng-container matColumnDef="paytypeName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span>{{'طريقة الدفع'}}</span>
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.paytypeName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="socialMediaName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span>{{'عرفتني عن طريق'}}</span>
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.socialMediaName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="statusName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span>{{'حالة العميل'}}</span>
          </th>
          <td mat-cell *matCellDef="let element" >
            <span style="color: #0ea516;font-size: 17px;font-weight: bold;" *ngIf="element.status == true">
              {{ element.statusName }}
            </span>
            <span style="color: #b20b0b;font-size: 17px;font-weight: bold;" *ngIf="element.status == false">
              {{ element.statusName }}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="addDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span>{{'تاريخ الإنشاء'}}</span>
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.addDate | date : " hh:mm yyyy-MM-dd" }}
          </td>
        </ng-container>
        <!-- operations Column -->
        <ng-container matColumnDef="operations">
          <th
            mat-header-cell
            *matHeaderCellDef
            [translate]="'name'"
            [translateParams]="{
              ar: 'خيارات',
              en: 'Operations'
            }"
          ></th>
          <td mat-cell *matCellDef="let element">
            <div class="flex gap-1 justify-center py-2">
              <button
                class="min-w-max p-2 bg-orange-100 hover:bg-orange-500 rounded-lg duration-300 hover:text-white aspect-square w-10"
                (click)="openModal(dataModal, element, 'editClient')"
              >
                <i class="fa-regular fa-pen-to-square"></i>
              </button>
              <button
                class="min-w-max p-2 bg-red-100 hover:bg-red-500 rounded-lg duration-300 hover:text-white aspect-square w-10"
                (click)="openModal(deleteModal, element, 'delete')"
              >
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </div>
          </td>
        </ng-container>

        <!-- Symbol Column -->

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          class="duration-300 hover:bg-slate-100"
        ></tr>
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="7">
            {{ "لا يوجد نتائج" }} 
          </td>
        </tr>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[10, 25, 100, dataSource.data.length]">
    </mat-paginator>
  </div>

  <!-- modals  -->
  <ng-template #dataModal>
    <div
      style="background-color: var(--base-color)"
      class="modal-header text-white flex justify-between items-center"
    >
      <h4 class="m-0">
        <span class="text-2xl">{{ modalDetails.type | translate }}</span>
      </h4>
      <button
        type="button"
        class="text-2xl text-white m-0"
        (click)="modal?.hide()"
      >
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
    <div class="modal-body">
      <ng-container>
        <form class="modal-form" addForm="ngForm">
          <div>


            <div class="form-group">
              <label for="customerCode" class="col-form-label">
                <ng-container>
                  {{ "كود العميل" | translate }}
                </ng-container>
              </label>
              <input
                type="text"
                class="form-control"
                id="customerCode"
                autocomplete="off"
                #customerCode="ngModel"
                required
                class="form-control"
                name="customerCode"
                disabled
                placeholder="{{ 'Write' | translate }} {{
                  'كود العميل' | translate
                }} "
                [(ngModel)]="modalDetails.customerCode"
              />
            </div>

            <!-- name -->
            <div class="form-group">
              <label for="nameAr" class="col-form-label">
                <ng-container>
                  {{ "Client Name (Arabic)" | translate }}
                </ng-container>
              </label>
              <input
                type="text"
                class="form-control"
                id="nameAr"
                autocomplete="off"
                #nameAr="ngModel"
                required
                class="form-control {{
                  nameAr.invalid && !nameAr.touched
                    ? 'errorInput'
                    : ''
                }}"
                name="nameAr"
                [placeholder]="
                  ('Write' | translate) +
                  ' ' +
                  (('Client Name (Arabic)') | translate)
                "
                [(ngModel)]="modalDetails.nameAr"
              />
            </div>

            <div class="form-group">
              <label for="nameEn" class="col-form-label">
                <ng-container>
                  {{ "Client Name (English)" | translate }}
                </ng-container>
               
              </label>
              <div style="display: inline-flex; width: 100%">
                <input
                  type="text"
                  class="form-control"
                  id="nameEn"
                  autocomplete="off"
                  #nameEn="ngModel"
                  #nameEnValue
                  required
                  class="form-control"
                  name="nameEn"
                  [placeholder]="
                    ('Write' | translate) +
                    ' ' +
                    (('Client Name (English)') | translate)"
                  [(ngModel)]="modalDetails.nameEn"
                />

                <a
                  class="btn"
                  id="CopyCustomerName2"
                  (click)="
                    modalDetails.nameEn = modalDetails.nameAr
                  "
                  ><i class="fa fa-copy"></i
                ></a>
              </div>
            </div>

            <ng-container>
              <div class="form-group">
                <label for="nationalIdtxt" class="col-form-label">{{
                  "NationalId" | translate
                }}</label>
                <input
                  type="text"
                  class="form-control"
                  id="nationalId"
                  autocomplete="off"
                  (keypress)="keyPress($event)"
                  #nationalId="ngModel"
                  required
                  class="form-control"
                  name="nationalId"
                  placeholder="{{ 'Write' | translate }} {{
                    'NationalId' | translate
                  }} "
                  [(ngModel)]="modalDetails.nationalId"
                />
              </div>
            </ng-container>
            <!-- Branch  -->
            <div>
              <label class="col-form-label">
                {{ "Customer Branch" | translate }}</label
              >

              <ng-select
                style="min-width: max-content"
                id="branchId"
                #branchId="ngModel"
                required
                class="w-full p-0 {{
                  branchId.invalid && branchId.touched ? 'errorInput' : ''
                }}"
                [disabled]="load_BranchUserId?.length == 1"
                (change)="getBranchAccount(modalDetails.branchId,'addClient')"
                [clearable]="false"
                name="branchId"
                placeholder=" {{ 'Customer Branch' | translate }}"
                [(ngModel)]="modalDetails.branchId"
                [ngModelOptions]="{ standalone: true }"
              >
                <ng-option
                  *ngFor="let branch of load_BranchUserId"
                  [value]="branch.id"
                  >{{ branch.name }}</ng-option
                >
              </ng-select>
            </div>
            <div class="form-group">
              <label for="example-text-input" class="col-form-label"
                >{{ "Branch Account" | translate }}
              </label>
              <input
                type="text"
                class="form-control"
                id="accountName"
                autocomplete="off"
                #accountName="ngModel"
                disabled
                readonly
                required
                class="form-control {{
                  accountName.invalid && !accountName.touched
                    ? 'errorInput'
                    : ''
                }}"
                name="accountName"
                placeholder="{{ 'Branch Account' | translate }} "
                [(ngModel)]="modalDetails.accountName"
              />
            </div>

            <!-- contact  -->
            <div class="form-group">
              <label for="mainPhoneNo" class="col-form-label">
                {{ "تليفون العميل  الرئيسي	" | translate }}
              </label>
              <input
                type="text"
                autocomplete="off"
                (keypress)="keyPress($event)"
                class="form-control {{ modalDetails.mainPhoneNo == null? 'errorInput': ''}}"
                id="mainPhoneNo"
                name="mainPhoneNo"
                placeholder="{{ 'تليفون العميل  الرئيسي	' | translate }} "
                [(ngModel)]="modalDetails.mainPhoneNo"
              />
            </div>
            <div class="form-group">
              <label for="subMainPhoneNo" class="col-form-label">
                {{ "تليفون العميل فرعي" | translate }}
              </label>
              <input
                type="text"
                class="form-control"
                id="subMainPhoneNo"
                (keypress)="keyPress($event)"
                autocomplete="off"
                #subMainPhoneNo="ngModel"
                required
                class="form-control"
                name="subMainPhoneNo"
                placeholder="تليفون العميل فرعي"
                [(ngModel)]="modalDetails.subMainPhoneNo"
              />
            </div>
            <div class="form-group">
              <label for="email" class="col-form-label">
                {{ "Email" | translate }}
              </label>
              <input
                type="email"
                class="form-control"
                id="email"
                autocomplete="off"
                #email="ngModel"
                required
                class="form-control"
                name="email"
                placeholder=" {{ 'Email' | translate }}"
                [(ngModel)]="modalDetails.email"
              />
            </div>

            <div class="form-group">
              <label for="address" class="col-form-label">
                {{ "العنوان" | translate }}
              </label>
              <input
                class="form-control {{
                  modalDetails.address == null
                    ? 'errorInput'
                    : ''
                }}"
                type="text"
                id="address"
                name="address"
                autocomplete="off"
                placeholder="{{ 'العنوان' | translate }}"
                [(ngModel)]="modalDetails.address"
              />
            </div>


            <div class="form-group">
              <label class="col-form-label">
                {{ "Area" | translate }}
              </label>
              <div class="flex">
              <ng-select
                class="w-full p-0 form-control {{modalDetails.cityId == null ? 'errorInput': ''}}"
                placeholder="{{ 'Area' | translate }}" 
                [(ngModel)]="modalDetails.cityId"
                [ngModelOptions]="{ standalone: true }"
              >
                <ng-option *ngFor="let city of City_Cus" [value]="city.id">{{
                  city.name
                }}</ng-option>
              </ng-select>
              <button
              type="button"
              class="btn bg-base text-white"
              style="padding: 5px 10px"
              (click)="open(AddCityPopup, null, 'addcity')"
            >
              <i class="fa fa-plus"></i>
            </button>
              </div>
            </div>

            <div class="form-group">
              <label class="col-form-label">
                {{ "طريقة الدفع" | translate }}
              </label>
              <ng-select
                class=" w-full p-0 form-control {{
                  modalDetails.payTypeId == null
                    ? 'errorInput'
                    : ''
                }}"
                placeholder="{{ 'طريقة الدفع' | translate }}"
                [(ngModel)]="modalDetails.payTypeId"
                [ngModelOptions]="{ standalone: true }"
              >
                <ng-option *ngFor="let item of Paytype_Cus" [value]="item.id">{{
                  item.name
                }}</ng-option>
              </ng-select>
            </div>

            <div class="form-group">
              <label class="col-form-label">
                {{ "عرفتنا عن طريق" | translate }}
              </label>
              <div class="flex">
              <ng-select
                class="w-full p-0 form-control {{modalDetails.socialMediaId == null ? 'errorInput': ''}}"
                placeholder="{{ 'عرفتنا عن طريق' | translate }}" 
                [(ngModel)]="modalDetails.socialMediaId"
                [ngModelOptions]="{ standalone: true }"
              >
                <ng-option *ngFor="let socialMedia of SocialMedia_Cus" [value]="socialMedia.id">{{
                  socialMedia.name
                }}</ng-option>
              </ng-select>
              <button
              type="button"
              class="btn bg-base text-white"
              style="padding: 5px 10px"
              (click)="open(AddsocialMediaPopup, null, 'addsocialMedia')"
            >
              <i class="fa fa-plus"></i>
            </button>
              </div>
            </div>

            <div class="flex gap-2 items-end mt-3">
              <mat-slide-toggle
                color="primary"
                [(ngModel)]="modalDetails.status"
                [ngModelOptions]="{ standalone: true }"
              >
                <span>{{'الحساب نشط'}}</span>
              </mat-slide-toggle>
            </div>

          </div>
          <div>
            <div class="form-group col-span-4">
              <label for="example-text-input" class="col-form-label">{{
                "Notes" | translate
              }}</label>
              <textarea
                class="form-control autosizeme"
                style="
                  border: 1px solid #b0b1b2;
                  border-radius: 6px !important;
                  padding: 5px 6px;
                "
                cols="30"
                rows="4"
                id="Notestxt3"
                autocomplete="off"
                name="Notestxt3"
                placeholder="Notes"
                [(ngModel)]="modalDetails.notes"
              ></textarea>
            </div>
          </div>
        </form>
        <div
          class="flex flex-wrap items-end border-t justify-between pt-2 border-neutral-300"
        >
        <div *ngIf="modalDetails.addDate != null && modalDetails.addDate != ''" class="flex gap-2 items-center">
          <div class="flex flex-col gap-2">
            <span>{{ "تاريخ إنشاء المستند" | translate }}</span>
            <div class="flex flex-col">
              <span>{{
                modalDetails?.addDate | date : " hh:mm yyyy-MM-dd"}}</span>
            </div>
          </div>
        </div>
        <div *ngIf="modalDetails.updateDate != null && modalDetails.updateDate != ''" class="flex gap-2 items-center">
          <div class="flex flex-col gap-2">
            <span>{{ "تاريخ تعديل المستند" | translate }}</span>
            <div class="flex flex-col">
              <span>{{
                modalDetails?.updateDate | date : " hh:mm yyyy-MM-dd"}}</span>
            </div>
          </div>
        </div>
          <div class="flex gap-2">
            <button
              class="btn bg-base text-white"
              (click)="addCustomer()"
              [disabled]="disableButtonSave_Customer"
            >
              {{ "save" | translate }}
            </button>
            <button (click)="modal?.hide()" class="btn btn-secondary">
              {{ "Back" | translate }}
            </button>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-template>

  <!-- confirm delete -->
  <ng-template #deleteModal>
    <div class="modal-body text-center">
      <p
        [translate]="'name'"
        [translateParams]="{
          ar: 'هل تريد بالتأكيد حذف هذا الصف',
          en: 'Are you sure to delete this row ?'
        }"
      ></p>
      <div class="flex gap-2 justify-center">
        <button
          type="button"
          mat-raised-button
          color="warn"
          (click)="confirm()"
        >
          {{ "Yes" | translate }}
        </button>
        <button
          type="button"
          (click)="decline()"
          mat-raised-button
          color="basic"
        >
          {{ "No" | translate }}
        </button>
      </div>
    </div>
  </ng-template>


<!-- Add AddCityPopup -->
<ng-template #AddCityPopup let-modal>
  <div
    style="background-color: var(--base-color)"
    class="modal-header text-white flex justify-between items-center"
  >
    <h4 class="m-0">
      <span class="text-2xl"> منطقة جديدة </span>
    </h4>
    <button
      type="button"
      class="text-2xl text-white m-0"
      (click)="modal?.dismiss()"
    >
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>
  <div class="modal-body text-center">
    <form #addCity="ngForm" class="grid grid-cols-1 md:grid-cols-2 gap-2">
      <div class="form-group">
        <label for="CityNameArtxt3" class="text-right col-form-label block">
          {{ "nameAr" | translate }}
          <span class="text-danger">*</span></label
        >
        <input
          required
          #CityNameAr="ngModel"
          [(ngModel)]="AddDataType.Citydata.namear"
          class="form-control"
          type="text"
          id="CityNameArtxt3"
          name="CityNameArtxt3"
          autocomplete="off"
          [placeholder]="('Write' | translate) + ' ' + ('nameAr' | translate)"
        />
      </div>
      <div class="form-group">
        <label for="CityNameEntxt3" class="text-right col-form-label block">
          {{ "nameEn" | translate }}
          <span class="text-danger">*</span></label
        >
        <div style="display: inline-flex; width: 100%">
          <input
            required
            #CityNameEnValue
            #CityNameEn="ngModel"
            [(ngModel)]="AddDataType.Citydata.nameen"
            class="form-control"
            type="text"
            id="CityNameEntxt3"
            name="CityNameEntxt3"
            autocomplete="off"
            [placeholder]="('Write' | translate) + ' ' + ('nameEn' | translate)"
          />
          <a
            class="btn"
            id="CopyCityName2"
            (click)="
              AddDataType.Citydata.nameen = AddDataType.Citydata.namear
            "
            ><i class="fa fa-copy"></i
          ></a>
        </div>
      </div>
    </form>
    <div class="max-h-80 overflow-auto px-2">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>{{ "nameAr" | translate }}</th>
            <th>{{ "nameEn" | translate }}</th>
            <th
              [translate]="'name'"
              [translateParams]="{
                ar: 'خيارات',
                en: 'Operations'
              }"
            ></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let type of CityTypesPopup_Cus"
            (dblclick)="
              setCityInSelect(type, modal); modal.dismiss('Cross click')
            "
          >
            <td>{{ type.name }}</td>
            <td>{{ type.nameEn }}</td>
            <td class="flex gap-2 justify-center">
              <button
                class="p-2 bg-orange-100 hover:bg-orange-500 rounded-lg duration-300 hover:text-white aspect-square w-10"
                (click)="
                  AddDataType.Citydata.id = type.id;
                  AddDataType.Citydata.namear = type.name;
                  AddDataType.Citydata.nameen = type.nameEn
                "
              >
                <i class="fa-regular fa-pen-to-square"></i>
              </button>
              <button
                (click)="getCityRow(type);
                  open(
                    deleteCity,
                    AddDataType.Citydata,
                    'deleteCity'              
                  )
                "
                class="p-2 bg-red-100 hover:bg-red-500 rounded-lg duration-300 hover:text-white aspect-square w-10"
              >
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="flex gap-2 mt-3 pt-3 border-t border-neutral-300">
      <button
        class="btn bg-base text-white"
        type="submit"
        [disabled]="!AddDataType.Citydata.namear"
        (click)="saveCity()"
      >
        {{ "Save" | translate }}
      </button>
      <button (click)="modal.dismiss()" class="btn btn-secondary">
        {{ "Back" | translate }}
      </button>
      <button (click)="resetCity()" class="btn bg-base text-white">
        {{ "جديد" | translate }}
      </button>
    </div>
  </div>
</ng-template>

<!-- deleteCityModal -->
<ng-template #deleteCity let-modal>
  <div class="modal-body text-center">
    <p
      [translate]="'name'"
      [translateParams]="{
        ar: 'هل تريد بالتأكيد حذف هذا الصف',
        en: 'Are you sure to delete this row ?'
      }"
    ></p>
    <div class="flex gap-2 justify-center mt-3">
      <button
        type="button"
        mat-raised-button
        color="warn"
        (click)="confirmCityDelete(); modal.dismiss()"
      >
        {{ "Yes" | translate }}
      </button>
      <button
        type="button"
        (click)="modal.dismiss()"
        mat-raised-button
        color="basic"
      >
        {{ "No" | translate }}
      </button>
    </div>
  </div>
</ng-template>


<!-- Add AddsocialMediaPopup -->
<ng-template #AddsocialMediaPopup let-modal>
  <div
    style="background-color: var(--base-color)"
    class="modal-header text-white flex justify-between items-center"
  >
    <h4 class="m-0">
      <span class="text-2xl"> نوع جديد </span>
    </h4>
    <button
      type="button"
      class="text-2xl text-white m-0"
      (click)="modal?.dismiss()"
    >
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>
  <div class="modal-body text-center">
    <form #addsocialMedia="ngForm" class="grid grid-cols-1 md:grid-cols-2 gap-2">
      <div class="form-group">
        <label for="socialMediaNameArtxt3" class="text-right col-form-label block">
          {{ "nameAr" | translate }}
          <span class="text-danger">*</span></label
        >
        <input
          required
          #socialMediaNameAr="ngModel"
          [(ngModel)]="AddDataType.socialMediadata.namear"
          class="form-control"
          type="text"
          id="socialMediaNameArtxt3"
          name="socialMediaNameArtxt3"
          autocomplete="off"
          [placeholder]="('Write' | translate) + ' ' + ('nameAr' | translate)"
        />
      </div>
      <div class="form-group">
        <label for="socialMediaNameEntxt3" class="text-right col-form-label block">
          {{ "nameEn" | translate }}
          <span class="text-danger">*</span></label
        >
        <div style="display: inline-flex; width: 100%">
          <input
            required
            #socialMediaNameEnValue
            #socialMediaNameEn="ngModel"
            [(ngModel)]="AddDataType.socialMediadata.nameen"
            class="form-control"
            type="text"
            id="socialMediaNameEntxt3"
            name="socialMediaNameEntxt3"
            autocomplete="off"
            [placeholder]="('Write' | translate) + ' ' + ('nameEn' | translate)"
          />
          <a
            class="btn"
            id="CopysocialMediaName2"
            (click)="
              AddDataType.socialMediadata.nameen = AddDataType.socialMediadata.namear
            "
            ><i class="fa fa-copy"></i
          ></a>
        </div>
      </div>
    </form>
    <div class="max-h-80 overflow-auto px-2">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>{{ "nameAr" | translate }}</th>
            <th>{{ "nameEn" | translate }}</th>
            <th
              [translate]="'name'"
              [translateParams]="{
                ar: 'خيارات',
                en: 'Operations'
              }"
            ></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let type of SocialMediaPopup_Cus"
            (dblclick)="
              setsocialMediaInSelect(type, modal); modal.dismiss('Cross click')
            "
          >
            <td>{{ type.name }}</td>
            <td>{{ type.nameEn }}</td>
            <td class="flex gap-2 justify-center">
              <button
                class="p-2 bg-orange-100 hover:bg-orange-500 rounded-lg duration-300 hover:text-white aspect-square w-10"
                (click)="
                  AddDataType.socialMediadata.id = type.id;
                  AddDataType.socialMediadata.namear = type.name;
                  AddDataType.socialMediadata.nameen = type.nameEn
                "
              >
                <i class="fa-regular fa-pen-to-square"></i>
              </button>
              <button
                (click)="getsocialMediaRow(type);
                  open(
                    deletesocialMedia,
                    AddDataType.socialMediadata,
                    'deletesocialMedia'              
                  )
                "
                class="p-2 bg-red-100 hover:bg-red-500 rounded-lg duration-300 hover:text-white aspect-square w-10"
              >
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="flex gap-2 mt-3 pt-3 border-t border-neutral-300">
      <button
        class="btn bg-base text-white"
        type="submit"
        [disabled]="!AddDataType.socialMediadata.namear"
        (click)="SaveSocialMedia()"
      >
        {{ "Save" | translate }}
      </button>
      <button (click)="modal.dismiss()" class="btn btn-secondary">
        {{ "Back" | translate }}
      </button>
      <button (click)="resetsocialMedia()" class="btn bg-base text-white">
        {{ "جديد" | translate }}
      </button>
    </div>
  </div>
</ng-template>

<!-- deletesocialMediaModal -->
<ng-template #deletesocialMedia let-modal>
  <div class="modal-body text-center">
    <p
      [translate]="'name'"
      [translateParams]="{
        ar: 'هل تريد بالتأكيد حذف هذا الصف',
        en: 'Are you sure to delete this row ?'
      }"
    ></p>
    <div class="flex gap-2 justify-center mt-3">
      <button
        type="button"
        mat-raised-button
        color="warn"
        (click)="confirmsocialMediaDelete(); modal.dismiss()"
      >
        {{ "Yes" | translate }}
      </button>
      <button
        type="button"
        (click)="modal.dismiss()"
        mat-raised-button
        color="basic"
      >
        {{ "No" | translate }}
      </button>
    </div>
  </div>
</ng-template>


</div>

