<div class="add-search pb-4">
  <app-navigator [title]="title"></app-navigator>

  <div class="tables-data mt-3 overflow-hidden">
    <!-- buttons -->
    <div class="flex justify-between gap-2 items-center my-3 flex-wrap">
      <div class="w-fit">
        <input
          class="form-control"
          (keyup)="applyFilter($event)"
          placeholder="{{ 'search' | translate }}"
          #input
        />
      </div>

      <!---------------------------------------------------------------------------->
      <div class="flex gap-2 controler">
        <button
          class="flex gap-1 btn btn-primary"
          (click)="openModal(dataModal, null, 'addClient')"
        >
          <span
            class="hidden md:block"
            [translate]="'name'"
            [translateParams]="{
              ar: 'عميل جديد ',
              en: 'New Customer '
            }"
          ></span>
          <i class="fa-solid fa-user-plus"></i>
        </button>
        <button
          class="flex gap-1 btn btn-warning"
          (click)="exportData()"
        >
          <span
            class="hidden md:block"
            [translate]="'name'"
            [translateParams]="{
              ar: 'تصدير ملف إكسل',
              en: 'Export To Excel'
            }"
          ></span>
          <i class="fa-solid fa-file-export"></i>
        </button>
      </div>
    </div>

    <!-- table -->
    <div class="overflow-auto">
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        class="mat-elevation-z8 rounded-t-lg overflow-hidden w-max"
      >
        <!-- name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span
              [translate]="'name'"
              [translateParams]="{
                ar: 'اسم العميل',
                en: 'Client'
              }"
            ></span>
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.customerName }}
          </td>
        </ng-container>

        <!-- nationalId Column -->
        <ng-container matColumnDef="nationalId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span
              [translate]="'name'"
              [translateParams]="{
                ar: 'رقم الهوية',
                en: 'National Number'
              }"
            ></span>
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.customerNationalId }}
          </td>
        </ng-container>

        <!-- customerType Column -->
        <ng-container matColumnDef="customerType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span
              [translate]="'name'"
              [translateParams]="{
                ar: 'نوع العميل',
                en: 'CustomerType'
              }"
            ></span>
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.customerTypeName }}
          </td>
        </ng-container>
        <!-- email Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span
              [translate]="'name'"
              [translateParams]="{
                ar: 'البريد الالكتروني',
                en: 'Email'
              }"
            ></span>
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.customerEmail }}
          </td>
        </ng-container>
        <!-- phone Column -->
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span
              [translate]="'name'"
              [translateParams]="{
                ar: 'رقم الهاتف',
                en: 'Phone Number'
              }"
            ></span>
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.customerPhone }}
          </td>
        </ng-container>
        <!-- mobile Column -->
        <ng-container matColumnDef="mobile">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span
              [translate]="'name'"
              [translateParams]="{
                ar: 'رقم الجوال',
                en: 'Mobile Number'
              }"
            ></span>
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.customerMobile }}
          </td>
        </ng-container>
        <!-- operations Column -->
        <ng-container matColumnDef="operations">
          <th
            mat-header-cell
            *matHeaderCellDef
            [translate]="'name'"
            [translateParams]="{
              ar: 'خيارات',
              en: 'Operations'
            }"
          ></th>
          <td mat-cell *matCellDef="let element">
            <div class="flex gap-1 justify-center py-2">
              <button
                class="min-w-max p-2 bg-orange-100 hover:bg-orange-500 rounded-lg duration-300 hover:text-white aspect-square w-10"
                (click)="openModal(dataModal, element, 'editClient')"
              >
                <i class="fa-regular fa-pen-to-square"></i>
              </button>
              <button
                class="min-w-max p-2 bg-red-100 hover:bg-red-500 rounded-lg duration-300 hover:text-white aspect-square w-10"
                (click)="openModal(deleteModal, element, 'delete')"
              >
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </div>
          </td>
        </ng-container>

        <!-- Symbol Column -->

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          class="duration-300 hover:bg-slate-100"
        ></tr>
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            {{ "No result found for " }} "{{ input.value }}"
          </td>
        </tr>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[10, 25, 100, dataSource.data.length]">
    </mat-paginator>
  </div>

  <!-- modals  -->
  <ng-template #dataModal>
    <div
      style="background-color: var(--base-color)"
      class="modal-header text-white flex justify-between items-center"
    >
      <h4 class="m-0">
        <span class="text-2xl">{{ modalDetails.type | translate }}</span>
      </h4>
      <button
        type="button"
        class="text-2xl text-white m-0"
        (click)="modal?.hide()"
      >
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
    <div class="modal-body">
      <ng-container>
        <form class="modal-form" addForm="ngForm">
          <div class="mb-3" *ngIf="!(modalDetails.customerId > 0)">
            <div class="form-inline d-flex align-items-center col-span-4">
              <div
                class="btn-group gap-2 flex-wrap"
                [ngModelOptions]="{ standalone: true }"
                btnRadioGroup
                [(ngModel)]="modalDetails.customerTypeId"
                (click)="TablClick()"
              >
                <label class="btn bg-base text-white mb-0" btnRadio="1">
                  <i class="fa fa-user-group text-sm"></i>
                  <span
                    class="text-sm"
                    [translate]="'name'"
                    [translateParams]="{
                      ar: 'مواطن',
                      en: 'Citizen'
                    }"
                  ></span>
                </label>
                <label class="btn bg-base text-white mb-0" btnRadio="2">
                  <i class="fa fa-building text-sm"></i>
                  <span
                    class="text-sm"
                    [translate]="'name'"
                    [translateParams]="{
                      ar: ' مستثمرون وشركات',
                      en: ' Investor Company Badge  '
                    }"
                  ></span>
                </label>
                <label class="btn bg-base text-white mb-0" btnRadio="3">
                  <i class="fa fa-city"></i>
                  <span
                    class="text-sm"
                    [translate]="'name'"
                    [translateParams]="{
                      ar: 'جهة حكومية',
                      en: 'Government Badge'
                    }"
                  ></span>
                </label>
              </div>
            </div>
          </div>
          <div>
            <!-- name -->
            <div class="form-group">
              <label for="CustomerNameArtxt3" class="col-form-label">
                <ng-container *ngIf="modalDetails.customerTypeId == 1">
                  {{ "Client Name (Arabic)" | translate }}
                </ng-container>
                <ng-container *ngIf="modalDetails.customerTypeId == 2">
                  {{ "Company Name (Arabic)" | translate }}
                </ng-container>
                <ng-container *ngIf="modalDetails.customerTypeId == 3">
                  {{ "Entity Name (Arabic)" | translate }}
                </ng-container>
              </label>
              <input
                type="text"
                class="form-control"
                id="customerNameAr"
                autocomplete="off"
                #customerNameAr="ngModel"
                required
                class="form-control {{
                  customerNameAr.invalid && !customerNameAr.touched
                    ? 'errorInput'
                    : ''
                }}"
                name="customerNameAr"
                [placeholder]="
                  ('Write' | translate) +
                  ' ' +
                  ((modalDetails.customerTypeId == 1
                    ? 'Client Name (Arabic)'
                    : modalDetails.customerTypeId == 2
                    ? 'Company Name (Arabic)'
                    : 'Entity Name (Arabic)'
                  ) | translate)
                "
                [(ngModel)]="modalDetails.customerNameAr"
              />
            </div>

            <div class="form-group">
              <label for="CustomerNameEntxt3" class="col-form-label">
                <ng-container *ngIf="modalDetails.customerTypeId == 1">
                  {{ "Client Name (English)" | translate }}
                </ng-container>
                <ng-container *ngIf="modalDetails.customerTypeId == 2">
                  {{ "Company Name (English)" | translate }}
                </ng-container>
                <ng-container *ngIf="modalDetails.customerTypeId == 3">
                  {{ "Entity Name (English)" | translate }}
                </ng-container>
              </label>
              <div style="display: inline-flex; width: 100%">
                <input
                  type="text"
                  class="form-control"
                  id="customerNameEn"
                  autocomplete="off"
                  #customerNameEn="ngModel"
                  #CustomerNameEnValue
                  required
                  class="form-control {{
                    customerNameEn.invalid && !customerNameEn.touched
                      ? 'errorInput'
                      : ''
                  }}"
                  name="customerNameEn"
                  [placeholder]="
                    ('Write' | translate) +
                    ' ' +
                    ((modalDetails.customerTypeId == 1
                      ? 'Client Name (Arabic)'
                      : modalDetails.customerTypeId == 2
                      ? 'Company Name (Arabic)'
                      : 'Entity Name (Arabic)'
                    ) | translate)
                  "
                  [(ngModel)]="modalDetails.customerNameEn"
                />

                <a
                  class="btn"
                  id="CopyCustomerName2"
                  (click)="
                    modalDetails.customerNameEn = modalDetails.customerNameAr
                  "
                  ><i class="fa fa-copy"></i
                ></a>
              </div>
            </div>

            <!-- governate only -->
            <div class="form-group" *ngIf="modalDetails.customerTypeId == 3">
              <label for="ResponsiblePersontxt" class="col-form-label">{{
                "Responsible Person" | translate
              }}</label>
              <input
                type="text"
                class="form-control"
                id="responsiblePerson"
                autocomplete="off"
                #responsiblePerson="ngModel"
                required
                class="form-control {{
                  responsiblePerson.invalid && !responsiblePerson.touched
                    ? 'errorInput'
                    : ''
                }}"
                name="responsiblePerson"
                placeholder="{{ 'Write' | translate }} {{
                  'Responsible Person' | translate
                }} "
                [(ngModel)]="modalDetails.responsiblePerson"
              />
            </div>
            <!-- copmpany  only -->

            <ng-container *ngIf="modalDetails.customerTypeId == 2">
              <div class="form-group">
                <label for="GeneralManager" class="col-form-label">{{
                  "General Manager" | translate
                }}</label>
                <input
                  type="text"
                  class="form-control"
                  id="generalManager"
                  autocomplete="off"
                  #generalManager="ngModel"
                  required
                  class="form-control {{
                    generalManager.invalid && !generalManager.touched
                      ? 'errorInput'
                      : ''
                  }}"
                  name="generalManager"
                  placeholder="{{ 'Write' | translate }} {{
                    'General Manager' | translate
                  }} "
                  [(ngModel)]="modalDetails.generalManager"
                />
              </div>
              <div class="form-group">
                <label for="CommercialActivitytxt" class="col-form-label">
                  {{ "Commercial Activity" | translate }}</label
                >

                <input
                  type="text"
                  class="form-control"
                  id="commercialActivity"
                  autocomplete="off"
                  #commercialActivity="ngModel"
                  required
                  class="form-control {{
                    commercialActivity.invalid && !commercialActivity.touched
                      ? 'errorInput'
                      : ''
                  }}"
                  name="commercialActivity"
                  placeholder="{{ 'Write' | translate }} {{
                    'Commercial Activity' | translate
                  }} "
                  [(ngModel)]="modalDetails.commercialActivity"
                />
              </div>
              <div class="form-group">
                <label for="CommercialRegistertxt" class="col-form-label">{{
                  "Commercial Register" | translate
                }}</label>

                <input
                  type="text"
                  class="form-control"
                  id="commercialRegister"
                  autocomplete="off"
                  #commercialRegister="ngModel"
                  required
                  class="form-control {{
                    commercialRegister.invalid && !commercialRegister.touched
                      ? 'errorInput'
                      : ''
                  }}"
                  name="commercialRegister"
                  placeholder="{{ 'Write' | translate }} {{
                    'Commercial Register' | translate
                  }} "
                  [(ngModel)]="modalDetails.commercialRegister"
                />
              </div>
            </ng-container>

            <!-- citizens only  -->
            <ng-container *ngIf="modalDetails.customerTypeId == 1">
              <div class="form-group">
                <label for="CustomerNationalIdtxt" class="col-form-label">{{
                  "NationalId" | translate
                }}</label>
                <!-- (blur)="modalDetails.customerNationalId != null?CustomerNationalIdIsRequired=false:CustomerNationalIdIsRequired=true" -->
                <input
                  type="text"
                  class="form-control"
                  id="customerNationalId"
                  autocomplete="off"
                  #customerNationalId="ngModel"
                  maxlength="10"
                  required
                  class="form-control {{
                    CustomerNationalIdIsRequired == true &&
                    modalDetails.customerNationalId == null
                      ? 'errorInput'
                      : ''
                  }}"
                  name="customerNationalId"
                  placeholder="{{ 'Write' | translate }} {{
                    'NationalId' | translate
                  }} "
                  [(ngModel)]="modalDetails.customerNationalId"
                />
              </div>
              <div class="inline-flex gap-1 w-full items-end">
                <div class="flex-grow">
                  <label class="col-form-label">
                    {{ "Issuer" | translate }}</label
                  >
                  <ng-select
                    class="w-full p-0"
                    placeholder="{{ 'Issuer' | translate }}"
                    [(ngModel)]="modalDetails.nationalIdSource"
                    [ngModelOptions]="{ standalone: true }"
                  >
                    <ng-option
                      *ngFor="let city of City_Cus"
                      [value]="city.id"
                      >{{ city.name }}</ng-option
                    >
                  </ng-select>
                </div>
              </div>
            </ng-container>
            <!-- Branch  -->
            <div>
              <label class="col-form-label">
                {{ "Customer Branch" | translate }}</label
              >

              <ng-select
                style="min-width: max-content"
                id="branchId"
                #branchId="ngModel"
                required
                class="w-full p-0 {{
                  branchId.invalid && branchId.touched ? 'errorInput' : ''
                }}"
                [disabled]="load_BranchUserId?.length == 1"
                (change)="getBranchAccount(modalDetails.branchId)"
                [clearable]="false"
                name="branchId"
                placeholder=" {{ 'Customer Branch' | translate }}"
                [(ngModel)]="modalDetails.branchId"
                [ngModelOptions]="{ standalone: true }"
              >
                <ng-option
                  *ngFor="let branch of load_BranchUserId"
                  [value]="branch.id"
                  >{{ branch.name }}</ng-option
                >
              </ng-select>
            </div>
            <div class="form-group">
              <label for="example-text-input" class="col-form-label"
                >{{ "Branch Account" | translate }}
                <!-- <span class="text-danger">*</span> -->
              </label>
              <!-- <input class="form-control" disabled
                 type="text"name="name" readonly autocomplete="off"
                placeholder="{{ 'Branch Account' | translate }}"  [(ngModel)]="modalDetails.accountName"
                id="accountName"
                #accountName="ngModel"
                class="w-full p-0 {{
                  accountName.invalid && !accountName.touched
                    ? 'errorInput'
                    : ''
                }}"
                /> -->
              <input
                type="text"
                class="form-control"
                id="accountName"
                autocomplete="off"
                #accountName="ngModel"
                disabled
                readonly
                required
                class="form-control {{
                  accountName.invalid && !accountName.touched
                    ? 'errorInput'
                    : ''
                }}"
                name="accountName"
                placeholder="{{ 'Branch Account' | translate }} "
                [(ngModel)]="modalDetails.accountName"
              />
            </div>

            <!-- contact  -->
            <div class="form-group">
              <label for="CustomerPhonetxt3" class="col-form-label">
                {{ "Phone Number" | translate }}
              </label>
              <input
                type="text"
                autocomplete="off"
                class="form-control"
                maxlength="10"
                id="CustomerPhonetxt3"
                name="CustomerPhonetxt3"
                placeholder="{{ 'Phone Number' | translate }} "
                [(ngModel)]="modalDetails.customerPhone"
              />
            </div>
            <div class="form-group">
              <label for="CustomerMobiletxt3" class="col-form-label">
                {{ "Mobile Number" | translate }}
              </label>
              <!-- customerMobile.invalid && !customerMobile.touched -->
              <!-- (blur)="modalDetails.customerMobile != null?CustomerphoneIsRequired=false:CustomerphoneIsRequired=true" -->
              <input
                type="text"
                class="form-control"
                id="customerMobile"
                autocomplete="off"
                #customerMobile="ngModel"
                maxlength="10"
                required
                class="form-control {{
                  CustomerphoneIsRequired == true &&
                  modalDetails.customerMobile == null
                    ? 'errorInput'
                    : ''
                }}"
                name="customerMobile"
                placeholder="{{ 'Write' | translate }} {{
                  'Mobile Number' | translate
                }} "
                [(ngModel)]="modalDetails.customerMobile"
              />
            </div>
            <div class="form-group">
              <label for="CustomerExternalTelephonetxt3" class="col-form-label">
                {{ "Additional Phone" | translate }}
              </label>
              <input
                type="text"
                autocomplete="off"
                class="form-control"
                id="CustomerExternalTelephonetxt3"
                name="CustomerExternalTelephonetxt3"
                placeholder=" {{ 'Additional Phone' | translate }}"
                [(ngModel)]="modalDetails.externalPhone"
              />
            </div>
            <div class="form-group">
              <label for="CustomerEmailtxt3" class="col-form-label">
                {{ "Email" | translate }}
              </label>
              <!-- customerEmail.invalid && !customerEmail.touched -->
              <!-- (blur)="modalDetails.customerEmail != null?CustomerMailIsRequired=false:CustomerMailIsRequired=true" -->
              <input
                type="email"
                class="form-control"
                id="customerEmail"
                autocomplete="off"
                #customerEmail="ngModel"
                required
                class="form-control {{
                  CustomerMailIsRequired == true &&
                  modalDetails.customerEmail == null
                    ? 'errorInput'
                    : ''
                }}"
                name="customerEmail"
                placeholder=" {{ 'Email' | translate }}"
                [(ngModel)]="modalDetails.customerEmail"
              />
            </div>

            <div class="form-group" *ngIf="!(modalDetails.customerTypeId == 2)">
              <label
                for="CustomerCommertialRegistrytxt3"
                class="col-form-label"
              >
                {{ "Commerial Registration" | translate }}</label
              >
              <input
                class="form-control"
                type="text"
                id="CustomerCommertialRegistrytxt3"
                name="CustomerCommertialRegistrytxt3"
                autocomplete="off"
                placeholder="{{ 'Commerial Registration' | translate }}"
                [(ngModel)]="modalDetails.commercialRegister"
              />
            </div>

            <div class="form-group">
              <label for="CustomerPostalCodetxt3" class="col-form-label">
                {{ "Postal Code" | translate }}
              </label>
              <input
                class="form-control"
                type="text"
                id="CustomerPostalCodetxt3"
                name="CustomerPostalCodetxt3"
                autocomplete="off"
                placeholder="{{ 'Postal Code' | translate }}"
                [(ngModel)]="modalDetails.postalCodeFinal"
                placeholder="Postal Code"
              />
            </div>

            <div class="form-group">
              <label for="CustomerCountrytxt3" class="col-form-label">
                {{ "Country" | translate }}
              </label>
              <input
                class="form-control"
                type="text"
                id="CustomerCountrytxt3"
                name="CustomerCountrytxt3"
                autocomplete="off"
                placeholder="{{ 'Country' | translate }}"
                [(ngModel)]="modalDetails.country"
              />
            </div>

            <div class="form-group">
              <label for="CustomerNeighborhoodtxt3" class="col-form-label">
                {{ "Neighborhood" | translate }}
              </label>
              <input
                class="form-control"
                type="text"
                id="CustomerNeighborhoodtxt3"
                name="CustomerNeighborhoodtxt3"
                autocomplete="off"
                placeholder="{{ 'Neighborhood' | translate }}"
                [(ngModel)]="modalDetails.neighborhood"
              />
            </div>

            <div class="form-group">
              <label for="CustomerStreetNametxt3" class="col-form-label">
                {{ "Street Name" | translate }}
              </label>
              <input
                class="form-control"
                type="text"
                id="CustomerStreetNametxt3"
                name="CustomerStreetNametxt3"
                autocomplete="off"
                placeholder="{{ 'Street Name' | translate }}"
                [(ngModel)]="modalDetails.streetName"
              />
            </div>

            <div class="form-group">
              <label for="CustomerBuildingNumbertxt3" class="col-form-label">
                {{ "BuildingNumber" | translate }}
              </label>
              <input
                class="form-control"
                type="text"
                id="CustomerBuildingNumbertxt3"
                name="CustomerBuildingNumbertxt3"
                autocomplete="off"
                placeholder="{{ 'BuildingNumber' | translate }}"
                [(ngModel)]="modalDetails.buildingNumber"
              />
            </div>

            <div class="form-group" *ngIf="!(modalDetails.customerTypeId == 2)">
              <label for="CustomerAddresstxt3" class="col-form-label">
                {{ "Address" | translate }}
              </label>
              <input
                type="text"
                class="form-control"
                id="CustomerAddresstxt3"
                autocomplete="off"
                autocomplete="off"
                name="CustomerAddresstxt3"
                placeholder="{{ 'Address' | translate }}"
                [(ngModel)]="modalDetails.customerAddress"
              />
            </div>
            <div class="form-group" *ngIf="modalDetails.customerTypeId == 2">
              <label for="CompAddresstxt" class="col-form-label">
                {{ "Address" | translate }}
              </label>
              <input
                type="text"
                class="form-control"
                id="CompAddresstxt"
                autocomplete="off"
                autocomplete="off"
                name="CompAddresstxt"
                placeholder="{{ 'Address' | translate }}"
                [(ngModel)]="modalDetails.compAddress"
              />
            </div>
            <div class="form-group" *ngIf="modalDetails.customerTypeId == 2">
              <label for="CustomerAddresstxt3" class="col-form-label">
                {{ "Commerial Registration" | translate }}
              </label>
              <input
                type="text"
                class="form-control"
                id="CustomerAddresstxt3"
                autocomplete="off"
                autocomplete="off"
                name="CustomerAddresstxt3"
                placeholder="{{ 'Commerial Registration' | translate }}"
                [(ngModel)]="modalDetails.customerAddress"
              />
            </div>

            <div>
              <label class="col-form-label">
                {{ "Area" | translate }}
              </label>
              <ng-select
                class="w-full p-0"
                placeholder="{{ 'Area' | translate }}"
                [(ngModel)]="modalDetails.cityId"
                [ngModelOptions]="{ standalone: true }"
              >
                <ng-option *ngFor="let city of City_Cus" [value]="city.id">{{
                  city.name
                }}</ng-option>
              </ng-select>
            </div>
          </div>
          <div>
            <div class="form-group col-span-4">
              <label for="example-text-input" class="col-form-label">{{
                "Notes" | translate
              }}</label>
              <textarea
                class="form-control autosizeme"
                style="
                  border: 1px solid #b0b1b2;
                  border-radius: 6px !important;
                  padding: 5px 6px;
                "
                cols="30"
                rows="4"
                id="Notestxt3"
                autocomplete="off"
                name="Notestxt3"
                placeholder="Notes"
                [(ngModel)]="modalDetails.notes"
              ></textarea>
            </div>
          </div>
        </form>
        <div
          class="flex flex-wrap items-end border-t justify-between pt-2 border-neutral-300"
        >
          <div
            *ngIf="modalDetails.addUser != null && modalDetails.addUser != ''"
            class="flex gap-2 items-center"
          >
            <img
              class="w-20 aspect-square rounded-full object-cover"
              *ngIf="modalDetails?.addedcustomerImg"
              [src]="ShowImg(modalDetails?.addedcustomerImg)"
              alt=""
            />
            <div class="flex flex-col gap-2">
              <span>{{ "Data Entry" | translate }}</span>
              <div class="flex flex-col">
                <span>{{ modalDetails?.addUser }}</span>
                <span>{{
                  modalDetails?.addDate | date : " hh:mm yyyy-MM-dd"
                }}</span>
              </div>
            </div>
          </div>
          <div>
            <span class="text-red-500">{{
              "required inputs" | translate
            }}</span>
            <div
              class="flex gap-2 items-center mt-2"
              *ngIf="phoneIsRequired == true"
            >
              <i class="fa-solid fa-mobile-screen text-base w-10"></i>
              <span>{{ "Phone Number" | translate }}</span>
            </div>
            <div class="flex gap-2" *ngIf="MailIsRequired == true">
              <i class="fa-solid fa-at text-base w-10"></i>
              <span>{{ "Email" | translate }}</span>
            </div>
            <div class="flex gap-2" *ngIf="NationalIdIsRequired == true">
              <i class="fa-solid fa-id-card w-10 text-base"></i>
              <span>{{ "NationalId" | translate }}</span>
            </div>
          </div>
          <div class="flex gap-2">
            <button
              class="btn bg-base text-white"
              (click)="addCustomer()"
              [disabled]="disableButtonSave_Customer"
            >
              {{ "save" | translate }}
            </button>
            <button (click)="modal?.hide()" class="btn btn-secondary">
              {{ "Back" | translate }}
            </button>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-template>

  <!-- confirm delete -->
  <ng-template #deleteModal>
    <div class="modal-body text-center">
      <p
        [translate]="'name'"
        [translateParams]="{
          ar: 'هل تريد بالتأكيد حذف هذا الصف',
          en: 'Are you sure to delete this row ?'
        }"
      ></p>
      <div class="flex gap-2 justify-center">
        <button
          type="button"
          mat-raised-button
          color="warn"
          (click)="confirm()"
        >
          {{ "Yes" | translate }}
        </button>
        <button
          type="button"
          (click)="decline()"
          mat-raised-button
          color="basic"
        >
          {{ "No" | translate }}
        </button>
      </div>
    </div>
  </ng-template>


</div>

