.invoiceNe-header {
  display: flex;
  align-items: center;
  gap: 150px;
  padding: 3px 10px;
}

.invoiceNe-header p {
  font-size: 18px;
  letter-spacing: 0.25px;
}
.invoiceNe-header h1 {
  font-size: 22px;
  letter-spacing: 0.25px;
}

.invoiceNe-header .headerNe-right-side {
  padding: 0px;
}

.headerNe-center-side {
  text-align: center;
  /*padding-right: 10px;
      padding-left: 10px;*/
}

.headerNe-center-side h3:first-child {
  margin-bottom: 7px;
}

.headerNe-center-side h3 {
  margin: 0;
  border: 1px solid #000;
  padding-right: 20px;
  padding-left: 20px;
}

.invoiceNe-header .header-left-side ul {
  list-style: none;
}

.invoiceNe-header .header-left-side ul li {
  list-style: none;
}

.fontNe-red {
  color: #fb3030;
}

.fontNe-purble {
  color: #5127ba;
}

.firstNe-table-main-heading {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.firstNe-table-main-heading ._mainNe-heading ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.firstNe-table-main-heading ._mainNe-heading ul li {
  background-color: #b4e7ce;
  padding: 5px 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.firstNe-table-main-heading ._mainNe-heading ul li span {
  display: block;
}

.firstNe-table-main-heading ._mainNe-heading ul li:not(:last-child) {
  margin-left: 10px;
  padding-left: 75px;
  padding-right: 75px;
}

.tableI tr th,
.tableI tr td {
  border-left: 1px solid #ccc;
}

.tableI tr th:last-child,
.tableI tr td:last-child {
  border-left: 0 !important;
}

.tableI tr td {
  border-bottom: 1px solid #ccc;
}

.tableI tr:last-child td {
  border-bottom: 0 !important;
}

.invoiceNe-content {
  padding: 5px;
  color: #000000;
}

.invoiceNe-content .firstNe-table {
  width: 50%;
  margin-bottom: 5px;
}

.tableI {
  width: 100%;
}

.tableI thead,
.tableI tbody {
  width: 100%;
}

.invoiceNe-content .firstNe-table th,
.invoiceNe-content .firstNe-table td {
  width: 25%;
  text-align: center;
}

.qrNe-code {
  margin-bottom: 5px;
}

.qrNe-code img {
  width: 110px;
}
/****invoiceNe-details***/
.invoiceNe-details {
  display: flex;
}

.invoiceNe-details .secondNe-table,
.invoiceNe-details .thirdNe-table {
  width: 50%;
}

.invoiceNe-details .thirdNe-table {
  margin-right: 5px;
}

.invoiceNe-details .secondNe-table table,
.invoiceNe-details .thirdNe-table table {
  width: 100%;
  border: 1px solid #ccc;
}

.invoiceNe-details .secondNe-table table td:first-child,
.invoiceNe-details .secondNe-table table td:last-child,
.invoiceNe-details .thirdNe-table table td:first-child,
.invoiceNe-details .thirdNe-table table td:last-child {
  width: 25%;
}

.invoiceNe-details .secondNe-table table td:last-child,
.invoiceNe-details .thirdNe-table table td:last-child {
  width: 25%;
  text-align: left;
}

.invoiceNe-details .secondNe-table table td:nth-child(2),
.invoiceNe-details .thirdNe-table table td:nth-child(2) {
  width: 50%;
}
.invoiceNe-details .secondNe-table table tr:last-child td,
.invoiceNe-details .thirdNe-table table tr:last-child td {
  border-bottom: 0 !important;
}

.invoiceNe-details .secondNe-table table td:first-child,
.invoiceNe-details .thirdNe-table table td:first-child {
  border-right: 0 !important;
  text-align: right !important;
}

.invoiceNe-details .tableNe-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 15px;
  background-color: #d6dcf8;
  margin: 0;
}

.invoiceNe-details .secondNe-table .tableNe-heading {
  background-color: #d6dcf8;
}

.invoiceNe-details .thirdNe-table .tableNe-heading {
  background-color: #d9ffed;
}
/*********totalNe-invoice*****/
.totalNe-invoice {
  margin-top: 5px;
}

.totalNe-invoice table {
  width: 100%;
  border-spacing: 0;
}

.totalNe-invoice thead th {
  color: #000;
  border-top: 1px solid #ccc;
}

.totalNe-invoice thead tr:last-child th {
  background-color: #c2bfe9;
}

.totalNe-invoice h3 {
  background-color: #ccc;
  padding: 5px;
  margin-bottom: 5px;
}

.totalNe-invoice thead th {
  padding: 15px 0;
}

.totalNe-invoice thead th,
.totalNe-invoice td {
  border-right: 1px solid #ccc;
}

.totalNe-invoice thead th:last-child,
.totalNe-invoice td:last-child {
  border-left: 1px solid #ccc;
}

.totalNe-invoice td {
  border-bottom: 1px solid #ccc;
  padding: 10px 5px;
  text-align: center;
}

.invoiceNe-value {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 5px;
  margin-left: 14px;
}

.invoiceNe-divided {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.invoiceNe-value .invoiceNe-value-right-side {
  margin-top: 5px;
}

.invoiceNe-value-center-side {
  margin-top: 5px;
  margin-right: -100px;
}

.invoiceNe-value-left-side {
  margin-right: 50px;
  height: 150px;
  width: 200px;
  object-fit: cover;
}

.invoiceNe-value p {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 15px;
}

.invoiceNe-footer {
  text-align: center;
}

.invoiceNe-footer h4 {
  font-size: 14px;
}

.invoiceNe-footer p {
  margin-bottom: 0;
  font-size: 15px;
}

/******Media Print***/
@media print {
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .invoiceNe-wrapper * :not(::after, ::before) {
    font-family: "Cairo", sans-serif !important;
  }
  .invoiceNe-wrapper table td {
    font-size: 13px !important;
    padding: 3px !important;
  }

  .invoiceNe-wrapper table th {
    font-size: 13px !important;
    padding: 3px !important;
  }
}
@page { size: auto;  margin: 0mm; }
