<div class="organization">
  <div class="container-fluid">
    <app-navigator [title]="title"></app-navigator>
    <div class="info mt-4">
      <tabset>
        <tab heading="{{ 'Head office data' | translate }}">
          <div class="content">
            <form [formGroup]="mainInfoForm" class="row">
              <div class="col-md-6 col-lg-4 mb-3">
                <div class="form-group">
                  <label
                    for="nameAr"
                    class="text-right col-form-label block mx-2"
                  >
                    {{ "Establishment Name (Arabic)" | translate }}
                    <span class="text-danger">*</span>
                  </label>
                  <input
                    formControlName="nameAr"
                    autocomplete="off"
                    class="form-control"
                    type="text"
                    id="nameAr"
                    name="nameAr"
                  />
                  <div
                    class="fieldrequired"
                    *ngIf="
                      mainInfoForm.controls['nameAr']?.hasError('required') &&
                      mainInfoForm.controls['nameAr'].touched
                    "
                  >
                    {{ "This field is required" | translate }}
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-lg-4 mb-3">
                <div class="form-group">
                  <label
                    for="nameEn"
                    class="text-right col-form-label block mx-2"
                  >
                    {{ "Establishment name (English)" | translate }}
                    <span class="text-danger">*</span>
                  </label>
                  <input
                    formControlName="nameEn"
                    autocomplete="off"
                    class="form-control"
                    type="text"
                    id="nameEn"
                    name="nameEn"
                  />
                  <div
                    class="fieldrequired"
                    *ngIf="
                      mainInfoForm.get('nameEn')?.hasError('required') &&
                      mainInfoForm.get('nameEn')?.touched
                    "
                  >
                    {{ "This field is required" | translate }}
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-lg-2 mb-3">
                <div class="form-group">
                  <label
                    for="mobile"
                    class="text-right col-form-label block mx-2"
                  >
                    {{ "phone" | translate }}
                    <span class="text-danger">*</span>
                  </label>
                  <input
                    formControlName="mobile"
                    autocomplete="off"
                    class="form-control"
                    type="text"
                    id="mobile"
                    name="mobile"
                  />
                  <div
                    class="fieldrequired"
                    *ngIf="
                      mainInfoForm.get('mobile')?.hasError('required') &&
                      mainInfoForm.get('mobile')?.touched
                    "
                  >
                    {{ "This field is required" | translate }}
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-lg-2 mb-3">
                <div class="form-group">
                  <label for="fax" class="text-right col-form-label block mx-2">
                    {{ "fax" | translate }}
                    <span class="text-danger">*</span>
                  </label>
                  <input
                    formControlName="fax"
                    autocomplete="off"
                    class="form-control"
                    type="text"
                    id="fax"
                    name="fax"
                  />
                  <div
                    class="fieldrequired"
                    *ngIf="
                      mainInfoForm.get('fax')?.hasError('required') &&
                      mainInfoForm.get('fax')?.touched
                    "
                  >
                    {{ "This field is required" | translate }}
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-lg-4 mb-3">
                <div class="form-group">
                  <label
                    for="email"
                    class="text-right col-form-label block mx-2"
                  >
                    {{ "Office customer correspondence email" | translate }}
                    <span class="text-danger">*</span>
                  </label>
                  <div class="flex">
                    <input
                      formControlName="email"
                      autocomplete="off"
                      class="form-control"
                      type="email"
                      id="email"
                      name="email"
                    />
                    <div
                      class="fieldrequired"
                      *ngIf="
                        mainInfoForm.get('email')?.hasError('required') &&
                        mainInfoForm.get('email')?.touched
                      "
                    >
                      {{ "This field is required" | translate }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-lg-4 mb-3">
                <div class="row p-0">
                  <div class="col-12">
                    <div class="form-group">
                      <label class="col-form-label mx-2">
                        {{ "Region" | translate }}
                        <span class="text-danger">*</span></label
                      >
                      <div class="flex">
                        <ng-select
                          class="w-full p-0"
                          placeholder="{{ 'Chose' | translate }}"
                          name="cityId"
                          formControlName="cityId"
                          style="min-width: unset !important"
                          
                        >
                          <ng-option
                            *ngFor="let user of CityList"
                            [value]="user.id"
                            >{{ user.name }}</ng-option
                          >
                        </ng-select>
                      </div>
                      <div
                        class="fieldrequired"
                        *ngIf="
                          mainInfoForm.get('cityId')?.hasError('required') &&
                          mainInfoForm.get('cityId')?.touched
                        "
                      >
                        {{ "This field is required" | translate }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-lg-4 mb-3">
                <div class="row p-0">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label
                        for="taxCode"
                        class="text-right col-form-label block mx-2"
                      >
                        {{ "Commerial Registration" | translate }}
                        <span class="text-danger">*</span>
                      </label>
                      <input
                        formControlName="taxCode"
                        autocomplete="off"
                        class="form-control"
                        type="text"
                        id="taxCode"
                        name="taxCode"
                      />
                      <div
                        class="fieldrequired"
                        *ngIf="
                          mainInfoForm.get('taxCode')?.hasError('required') &&
                          mainInfoForm.get('taxCode')?.touched
                        "
                      >
                        {{ "This field is required" | translate }}
                      </div>
                      <div
                        *ngIf="
                          mainInfoForm.get('taxCode')?.hasError('pattern') &&
                          mainInfoForm.get('taxCode')?.touched
                        "
                        class="fieldrequired"
                      >
                        Invalid pattern.
                      </div>
                    </div>
                  </div>
                </div>
              </div>



              <div class="col-md-6 col-lg-4 mb-3">
                <div class="form-group">
                  <label
                    for="address"
                    class="text-right col-form-label block mx-2"
                  >
                    {{ "Address" | translate }}
                  </label>
                  <input
                    formControlName="address"
                    autocomplete="off"
                    class="form-control"
                    type="text"
                    id="address"
                    name="address"
                  />
                </div>
              </div>
              <div class="col-12 my-3">
                <div class="row p-0 items-center">
                  <div class="col-md-8">
                    <div class="upload">
                      <file-upload
                        [control]="control"
                        class="logoUrlfile-uploadORG"
                        [ngClass]="{
                          logoUrlchange:
                            mainInfoForm.controls['logoUrl'].value == null &&
                            this.imageFileOutput != null
                        }"
                      >
                        <ng-template
                          let-isFileDragDropAvailable="isFileDragDropAvailable"
                          #placeholder
                          let-file="file"
                        >
                          <div
                            *ngIf="
                              control.size === 0 &&
                              mainInfoForm.controls['logoUrl'].value == null
                            "
                          >
                            <div class="icon">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                height="1em"
                                viewBox="0 0 640 512"
                              >
                                <path
                                  d="M144 480C64.5 480 0 415.5 0 336c0-62.8 40.2-116.2 96.2-135.9c-.1-2.7-.2-5.4-.2-8.1c0-88.4 71.6-160 160-160c59.3 0 111 32.2 138.7 80.2C409.9 102 428.3 96 448 96c53 0 96 43 96 96c0 12.2-2.3 23.8-6.4 34.6C596 238.4 640 290.1 640 352c0 70.7-57.3 128-128 128H144zm79-217c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l39-39V392c0 13.3 10.7 24 24 24s24-10.7 24-24V257.9l39 39c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-80-80c-9.4-9.4-24.6-9.4-33.9 0l-80 80z"
                                />
                              </svg>
                            </div>

                            <div class="upload-text">
                              {{ "Add Image" | translate }}
                            </div>
                          </div>
                          <div
                            class="overlay"
                            *ngIf="
                              mainInfoForm.controls['logoUrl'].value != null
                            "
                          >
                            <span
                              class="delete-button"
                              (click)="
                                control.clear();
                                mainInfoForm.controls['logoUrl'].setValue(null)
                              "
                            >
                              <svg viewBox="0 0 448 512">
                                <path
                                  d="M32 464a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128H32zm272-256a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zM432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z"
                                ></path>
                              </svg>
                            </span>
                            <img
                              *ngIf="
                                mainInfoForm.controls['logoUrl'].value != null
                              "
                              src="{{
                                environmenturl +
                                  mainInfoForm.controls['logoUrl'].value
                              }}"
                            />
                          </div>
                        </ng-template>
                        <ng-template
                          let-i="index"
                          *ngIf="mainInfoForm.controls['logoUrl'].value == null"
                          let-file="file"
                          let-control="control"
                          #item
                        >
                          <div class="overlay">
                            <span
                              class="delete-button"
                              (click)="control.clear()"
                            >
                              <svg viewBox="0 0 448 512">
                                <path
                                  d="M32 464a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128H32zm272-256a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zM432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z"
                                ></path>
                              </svg>
                            </span>
                            <img
                              *ngIf="control.valid"
                              [src]="uploadedFile | async"
                            />
                          </div>
                        </ng-template>
                      </file-upload>
                    </div>
                  </div>
                </div>
              </div>
            </form>

            <div
              class="modal-footer justify-content-end my-3"
              style="border-top: none"
            >
            <button  *ngIf="userG?.userName=='tadmin'"
              type="button"
              class="btn submit-btn bg-base text-white py-2 px-3 mt-0"
              (click)="open(EncryptValue, null, 'EncryptValue')"
            >
              {{ "تحويل الباسورد" | translate }}
            </button>
              <button
                type="button"
                class="btn submit-btn bg-red text-white py-2 px-3 mt-0"
                (click)="open(Maintenance, null, 'Maintenance')"
              >
                {{ "Maintenance" | translate }}
              </button>
              <button *ngIf="userG?.userPrivileges.includes(16000101)"
                type="button"
                class="btn submit-btn bg-base text-white py-2 px-3 mt-0"
                (click)="saveMainInfo()"
                [disabled]="
                  this.mainInfoForm.controls['organizationId'].value == null ||
                  this.mainInfoForm.controls['nameAr'].value == null ||
                  this.mainInfoForm.controls['nameEn'].value == null ||
                  this.mainInfoForm.controls['mobile'].value == null ||
                  this.mainInfoForm.controls['fax'].value == null ||
                  this.mainInfoForm.controls['cityId'].value == null ||
                  this.mainInfoForm.controls['taxCode'].value == null ||
                  this.mainInfoForm.controls['email'].value == null
                "
              >
                {{ "Save" | translate }}
              </button>
            </div>
          </div>
        </tab>

        <tab heading="{{ 'Set and prepare branch data' | translate }}">
          <div class="content">

            <div class="tables-data mt-3 overflow-hidden">
              <!-- table -->
              <input
                (keyup)="applyFilter($event)"
                class="form-control mb-3"
                style="max-width: 300px"
                #input
                placeholder="{{ 'search' | translate }}"
              />
              <div class="overflow-auto">
                <table
                  mat-table
                  [dataSource]="dataSource"
                  matSort
                  class="mat-elevation-z8 rounded-t-lg overflow-hidden w-max"
                >
                  <ng-container matColumnDef="code">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      <span>{{ "كود الفرع" | translate }}</span>
                    </th>
                    <td mat-cell *matCellDef="let element">
                      <span>{{ element?.code }}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="nameAr">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      <span>{{ "اسم الفرع" | translate }}</span>
                    </th>
                    <td mat-cell *matCellDef="let element">
                      <span>{{ element?.nameAr }}</span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="nameEn">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      <span>{{ "اسم الفرع English" | translate }}</span>
                    </th>
                    <td mat-cell *matCellDef="let element">
                      <span>{{ element?.nameEn }}</span>
                    </td>
                  </ng-container>
                  <!-- operations Column -->
                  <ng-container matColumnDef="operations">
                    <th mat-header-cell *matHeaderCellDef>
                      {{ "operations" | translate }}
                    </th>
                    <td mat-cell *matCellDef="let element">
                      <div class="flex gap-1 justify-center py-2">
                        <button *ngIf="userG?.userPrivileges.includes(16000102)"
                          class="p-2 bg-green-100 hover:bg-green-500 rounded-lg duration-300 hover:text-white w-10"
                          (click)="open(BranchModal, element, 'editBranch')"
                        >
                          <i class="fa fa-edit"></i>
                        </button>
                      </div>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

                  <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumns"
                    class="duration-300 hover:bg-slate-100"
                  ></tr>

                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">
                      {{ "noResult" | translate }} "{{ input.value }}"
                    </td>
                  </tr>
                </table>
              </div>
              <mat-paginator [pageSizeOptions]="[10, 25]"> </mat-paginator>
            </div>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</div>

<!-- Maintenance -->
<ng-template #Maintenance let-modal>
  <div class="modal-header bg-base text-white">
    <h4 class="modal-title mb-0" id="modal-basic-title">
      {{ "Maintenance" | translate }}
    </h4>
    <button type="button" class="m-0" (click)="modal.dismiss('Cross click')">
      <i class="fa fa-close"></i>
    </button>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col-9 mb-3">
        <div class="form-group">
          <label class="text-right col-form-label block">
            {{ "(1) - Modify IsMain in Accounts" | translate }}
          </label>
        </div>
      </div>
      <div class="col-3 mb-3">
        <div class="form-group">
          <button
            type="button"
            class="btn submit-btn bg-base text-white py-2 px-3 mt-0"
            (click)="MaintenanceFunc(1)"
          >
            {{ "maintenance" | translate }}
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-9 mb-3">
        <div class="form-group">
          <label class="text-right col-form-label block">
            {{
              "(2) - Modifying the order of codes in the accounts"
                | translate
            }}
          </label>
        </div>
      </div>
      <div class="col-3 mb-3">
        <div class="form-group">
          <button
            type="button"
            class="btn submit-btn bg-base text-white py-2 px-3 mt-0"
            (click)="MaintenanceFunc(2)"
          >
            {{ "maintenance" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!-- EncryptValue -->
<ng-template #EncryptValue let-modal>
  <div class="modal-header bg-base text-white">
    <h4 class="modal-title mb-0" id="modal-basic-title">
      {{ "Encrypt Password" | translate }}
    </h4>
    <button type="button" class="m-0" (click)="modal.dismiss('Cross click')">
      <i class="fa fa-close"></i>
    </button>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col-3 mb-3">
        <div class="form-group">
          <label class="text-right col-form-label block">
            {{ "أدخل الباسورد الذي تريد تحويله" | translate }}
          </label>
          <input
          class="form-control mb-3"
          style="max-width: 300px"
          [(ngModel)]="PasswordBefore"
          [ngModelOptions]="{ standalone: true }"
          />
        </div>
      </div>
      <div class="col-3 mb-3">
        <div class="form-group">
          <label class="text-right col-form-label block">
            {{ "التحويل" | translate }}
          </label>
          <input
          class="form-control mb-3"
          style="max-width: 300px"
          disabled
          [(ngModel)]="PasswordAfter"
          [ngModelOptions]="{ standalone: true }"
          />
        </div>
      </div>
      <div class="col-3 mb-3" style="margin-top: 3%;">
        <div class="form-group">
          <button
            type="button"
            class="btn submit-btn bg-base text-white py-2 px-3 mt-0"
            (click)="EncryptPassword()"
          >
            {{ "تحويل" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>


<!-- BranchModal-->
<ng-template #BranchModal let-modal>
  <div class="modal-header bg-base text-white">
    <h4 class="modal-title mb-0" id="modal-basic-title">
      {{ "تعديل الفرع" | translate }}
    </h4>
    <button type="button" class="m-0" (click)="modal.dismiss('Cross click')">
      <i class="fa fa-close"></i>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="BranchInfoForm">
      <div class="row">

        <div class="col-lg-4">
          <div class="form-group">
            <label for="NameAr" class="text-right col-form-label block mx-2">
              {{ "Branch name (Arabic)" | translate }}
              <span class="text-danger">*</span>
            </label>
            <input
              formControlName="NameAr"
              autocomplete="off"
              class="form-control"
              type="text"
              id="NameAr"
              name="NameAr"
            />
            <div
              class="fieldrequired"
              *ngIf="
                BranchInfoForm.controls['NameAr']?.hasError('required') &&
                BranchInfoForm.controls['NameAr'].touched
              "
            >
              {{ "This field is required" | translate }}
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label for="nameEn" class="text-right col-form-label block mx-2">
              {{ "Branch name (English)" | translate }}
              <span class="text-danger">*</span>
            </label>
            <input
              formControlName="NameEn"
              autocomplete="off"
              class="form-control"
              type="text"
              id="NameEn"
              name="NameEn"
            />
            <div
              class="fieldrequired"
              *ngIf="
                BranchInfoForm.controls['NameEn']?.hasError('required') &&
                BranchInfoForm.controls['NameEn'].touched
              "
            >
              {{ "This field is required" | translate }}
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label for="BranchNamePrint" class="text-right col-form-label block mx-2">
              {{ "أسم الفرع في الطباعة" | translate }}
              <span class="text-danger">*</span>
            </label>
            <input
              formControlName="BranchNamePrint"
              autocomplete="off"
              class="form-control"
              type="text"
              id="BranchNamePrint"
              name="BranchNamePrint"
            />
            <div
              class="fieldrequired"
              *ngIf="
                BranchInfoForm.controls['BranchNamePrint']?.hasError('required') &&
                BranchInfoForm.controls['BranchNamePrint'].touched
              "
            >
              {{ "This field is required" | translate }}
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label for="CustomerPhone" class="text-right col-form-label block mx-2">
              {{ "رقم خدمة العملاء" | translate }}
              <span class="text-danger">*</span>
            </label>
            <input
              formControlName="CustomerPhone"
              autocomplete="off"
              class="form-control"
              type="text"
              id="CustomerPhone"
              name="CustomerPhone"
            />
            <div
              class="fieldrequired"
              *ngIf="
                BranchInfoForm.controls['CustomerPhone']?.hasError('required') &&
                BranchInfoForm.controls['CustomerPhone'].touched
              "
            >
              {{ "This field is required" | translate }}
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label for="CustomerPhone2" class="text-right col-form-label block mx-2">
              {{ "رقم خدمة العملاء2" | translate }}
              <span class="text-danger">*</span>
            </label>
            <input
              formControlName="CustomerPhone2"
              autocomplete="off"
              class="form-control"
              type="text"
              id="CustomerPhone2"
              name="CustomerPhone2"
            />
            <div
              class="fieldrequired"
              *ngIf="
                BranchInfoForm.controls['CustomerPhone2']?.hasError('required') &&
                BranchInfoForm.controls['CustomerPhone2'].touched
              "
            >
              {{ "This field is required" | translate }}
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label for="ComplaintsNumber" class="text-right col-form-label block mx-2">
              {{ "رقم الشكاوي" | translate }}
              <span class="text-danger">*</span>
            </label>
            <input
              formControlName="ComplaintsNumber"
              autocomplete="off"
              class="form-control"
              type="text"
              id="ComplaintsNumber"
              name="ComplaintsNumber"
            />
            <div
              class="fieldrequired"
              *ngIf="
                BranchInfoForm.controls['ComplaintsNumber']?.hasError('required') &&
                BranchInfoForm.controls['ComplaintsNumber'].touched
              "
            >
              {{ "This field is required" | translate }}
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label for="BoxAccId"
              class="text-right col-form-label block mx-2">
              {{ "حساب الخزنة" | translate }}
              <span class="text-danger">*</span>
            </label>
            <ng-select
              formControlName="BoxAccId" id="BoxAccId" name="BoxAccId">
              <ng-option *ngFor="let item of branchesAcc" [value]="item.id">{{
                item.name
              }}</ng-option></ng-select
            >
            <div
              class="fieldrequired" *ngIf="
                BranchInfoForm.get('BoxAccId')?.hasError('required') &&
                BranchInfoForm.get('BoxAccId')?.touched">
              {{ "This field is required" | translate }}
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label for="SalesAccId"
              class="text-right col-form-label block mx-2">
              {{ "حساب المبيعات" | translate }}
              <span class="text-danger">*</span>
            </label>
            <ng-select
              formControlName="SalesAccId" id="SalesAccId" name="SalesAccId">
              <ng-option *ngFor="let item of branchesAcc" [value]="item.id">{{
                item.name
              }}</ng-option></ng-select
            >
            <div
              class="fieldrequired" *ngIf="
                BranchInfoForm.get('SalesAccId')?.hasError('required') &&
                BranchInfoForm.get('SalesAccId')?.touched">
              {{ "This field is required" | translate }}
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label for="CustomersAccId"
              class="text-right col-form-label block mx-2">
              {{ "حساب العملاء" | translate }}
              <span class="text-danger">*</span>
            </label>
            <ng-select
              formControlName="CustomersAccId" id="CustomersAccId" name="CustomersAccId">
              <ng-option *ngFor="let item of branchesAcc" [value]="item.id">{{
                item.name
              }}</ng-option></ng-select
            >
            <div
              class="fieldrequired" *ngIf="
                BranchInfoForm.get('CustomersAccId')?.hasError('required') &&
                BranchInfoForm.get('CustomersAccId')?.touched">
              {{ "This field is required" | translate }}
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label for="EmployeesAccId"
              class="text-right col-form-label block mx-2">
              {{ "حساب الموظفين" | translate }}
              <span class="text-danger">*</span>
            </label>
            <ng-select
              formControlName="EmployeesAccId" id="EmployeesAccId" name="EmployeesAccId">
              <ng-option *ngFor="let item of branchesAcc" [value]="item.id">{{
                item.name
              }}</ng-option></ng-select
            >
            <div
              class="fieldrequired" *ngIf="
                BranchInfoForm.get('EmployeesAccId')?.hasError('required') &&
                BranchInfoForm.get('EmployeesAccId')?.touched">
              {{ "This field is required" | translate }}
            </div>
          </div>
        </div>

        <div class="col-lg-12">
          <div class="form-group col-span-1 md:col-span-2">
            <label for="formFile" class="form-label">
              {{ "لوجو الفرع" | translate }}</label
            >
            <div class="upload">
              <file-upload [control]="controlImgUrlfile">
                <ng-template
                  let-isFileDragDropAvailable="isFileDragDropAvailable"
                  #placeholder
                  let-file="file"
                >
                  <div
                    *ngIf="
                      controlImgUrlfile.size === 0 &&
                      BranchInfoForm.controls['uploadedFile'].value == null
                    "
                  >
                    <div class="icon">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="0.5em"
                        viewBox="0 0 640 512"
                      >
                        <path
                          d="M144 480C64.5 480 0 415.5 0 336c0-62.8 40.2-116.2 96.2-135.9c-.1-2.7-.2-5.4-.2-8.1c0-88.4 71.6-160 160-160c59.3 0 111 32.2 138.7 80.2C409.9 102 428.3 96 448 96c53 0 96 43 96 96c0 12.2-2.3 23.8-6.4 34.6C596 238.4 640 290.1 640 352c0 70.7-57.3 128-128 128H144zm79-217c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l39-39V392c0 13.3 10.7 24 24 24s24-10.7 24-24V257.9l39 39c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-80-80c-9.4-9.4-24.6-9.4-33.9 0l-80 80z"
                        />
                      </svg>
                    </div>

                    <div class="upload-text">
                      {{ "رفع صورة للفرع" | translate }}
                    </div>
                  </div>
                  <div
                    class="overlay"
                    *ngIf="
                      BranchInfoForm.controls['uploadedFile'].value != null
                    "
                  >
                    <span
                      class="delete-button"
                      (click)="
                        controlImgUrlfile.clear();
                        BranchInfoForm.controls['uploadedFile'].setValue(null)
                      "
                    >
                      <svg viewBox="0 0 448 512">
                        <path
                          d="M32 464a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128H32zm272-256a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zM432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z"
                        ></path>
                      </svg>
                    </span>
                    <img
                      *ngIf="
                        BranchInfoForm.controls['uploadedFile'].value != null
                      "
                      src="{{
                        environmenturl +
                          BranchInfoForm.controls['uploadedFile'].value
                      }}"
                    />
                  </div>
                </ng-template>

                <ng-template
                  let-i="index"
                  let-file="file"
                  let-control="control"
                  #item
                  *ngIf="BranchInfoForm.controls['uploadedFile'].value == null"
                >
                  <div class="overlay">
                    <span
                      class="delete-button"
                      (click)="
                        control.clear();
                        BranchInfoForm.controls['uploadedFile'].setValue(null)
                      "
                    >
                      <svg viewBox="0 0 448 512">
                        <path
                          d="M32 464a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128H32zm272-256a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zM432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z"
                        ></path>
                      </svg>
                    </span>
                    <img
                      *ngIf="control.valid"
                      [src]="uploadedFileOutputImg | async"
                    />
                  </div>
                </ng-template>
              </file-upload>
            </div>
          </div>
        </div>

      </div>
    </form>
  </div>
  <div class="modal-footer justify-content-end" style="border-top: none">
    <button
      type="button"
      class="btn btn-light py-2 px-3 mt-0"
      (click)="modal.dismiss('Cross click')"
    >
      {{ "close" | translate }}
    </button>
    <button
      type="button"
      class="btn submit-btn bg-base text-white py-2 px-3 mt-0"
      [disabled]="
        this.BranchInfoForm.controls['NameAr'].value == null ||
        this.BranchInfoForm.controls['NameEn'].value == null ||
        this.BranchInfoForm.controls['BranchNamePrint'].value == null ||
        this.BranchInfoForm.controls['BoxAccId'].value == null ||
        this.BranchInfoForm.controls['SalesAccId'].value == null ||
        this.BranchInfoForm.controls['CustomersAccId'].value == null ||
        this.BranchInfoForm.controls['EmployeesAccId'].value == null"
      (click)="saveBranchInfoForm(modal)">
      {{ "Save" | translate }}
    </button>
  </div>
</ng-template>
