<div class="preview pb-4">
  <app-navigator [title]="title"></app-navigator>

  <div class="tables-data mt-3 overflow-hidden">
    <!-- buttons -->
    <div class="flex justify-between gap-2 items-center my-3 flex-wrap">

      <!---------------------------------------------------------------------------->
      <div class="flex gap-2 controler">
        <button *ngIf="allPreviewCount==0 && userG?.userPrivileges.includes(140001)"
          class="flex gap-1 btn btn-primary"
          (click)="openModal(dataModal, null, 'addPreview2')">
          <span
            class="hidden md:block"
            [translate]="'name'"
            [translateParams]="{
              ar: 'معاينة جديدة ',
              en: 'New Preview '
            }"
          ></span>
          <i class="fa-solid fa-user-plus"></i>
        </button>
        <button *ngIf="allPreviewCount!=0 && userG?.userPrivileges.includes(140001)"
        class="flex gap-1 btn btn-primary"
        (click)="open(addPreviewMessage, null, 'addPreviewMessage')">
        <span
          class="hidden md:block"
          [translate]="'name'"
          [translateParams]="{
            ar: 'معاينة جديدة ',
            en: 'New Preview '
          }"
        ></span>
        <i class="fa-solid fa-user-plus"></i>
        </button>

        <button  *ngIf="userG?.userPrivileges.includes(140004)"
        class="flex gap-1 btn btn-danger" (click)="dataSearch.filter.showFilters = !dataSearch.filter.showFilters;">
          <span
            class="hidden md:block"
            [translate]="'name'" [translateParams]="{ar: 'بحث ',en: 'Search '}"></span>
          <i class="fa-solid fa-search"></i>
          </button>

        <button *ngIf="userG?.userPrivileges.includes(140005)"
          class="flex gap-1 btn btn-warning"
          (click)="exportData()"
        >
          <span
            class="hidden md:block"
            [translate]="'name'"
            [translateParams]="{
              ar: 'تصدير ملف إكسل',
              en: 'Export To Excel'
            }"
          ></span>
          <i class="fa-solid fa-file-export"></i>
        </button>
      </div>
    </div>

    <div *ngIf="dataSearch.filter.showFilters" class="flex gap-6 flex-wrap items-end mb-4">

      <div class="max-w-xs">
        <label class="col-form-label"> {{ "أسم العميل" | translate }}</label>
  
        <ng-select
          #CustomerName
          [items]="dataSearch.filter.ListName"
          bindLabel="name"
          bindValue="id"
          [clearable]="true"
          class="w-full p-0"
          [(ngModel)]="dataSearch.filter.customerId"
          placeholder="{{ 'Chose' | translate }}"
          (change)="RefreshData()"
        >
        </ng-select>
      </div>
      <div class="max-w-xs">
        <label class="col-form-label"> {{ "كود العميل" | translate }}</label>
  
        <ng-select
          #CustomerName
          [items]="dataSearch.filter.ListCode"
          bindLabel="name"
          bindValue="id"
          [clearable]="true"
          class="w-full p-0"
          [(ngModel)]="dataSearch.filter.customerId"
          placeholder="{{ 'Chose' | translate }}"
          (change)="RefreshData()"
        >
        </ng-select>
      </div>
      <div class="max-w-xs">
        <label class="col-form-label"> {{ "رقم تليفون العميل" | translate }}</label>
  
        <ng-select
          #CustomerName
          [items]="dataSearch.filter.ListPhone"
          bindLabel="name"
          bindValue="id"
          [clearable]="true"
          class="w-full p-0"
          [(ngModel)]="dataSearch.filter.customerId"
          placeholder="{{ 'Chose' | translate }}"
          (change)="RefreshData()"
        >
        </ng-select>
      </div>
      <div class="max-w-xs">
        <label class="col-form-label"> {{ "القائم بالمعاينة" | translate }}</label>
  
        <ng-select
          #CustomerName
          [items]="dataSearch.filter.ListEmployee"
          bindLabel="name"
          bindValue="id"
          [clearable]="true"
          class="w-full p-0"
          [(ngModel)]="dataSearch.filter.previewChairperson"
          placeholder="{{ 'Chose' | translate }}"
          (change)="RefreshData()"
        >
        </ng-select>
      </div>
      <div class="max-w-xs">
        <label class="col-form-label"> {{ "حالة المعاينة" | translate }}</label>
  
        <ng-select
          #CustomerName
          [items]="dataSearch.filter.ListPreviewStatus"
          bindLabel="name"
          bindValue="id"
          [clearable]="true"
          class="w-full p-0"
          [(ngModel)]="dataSearch.filter.previewStatusId"
          placeholder="{{ 'Chose' | translate }}"
          (change)="RefreshData()"
        >
        </ng-select>
      </div>
      <div class="max-w-xs">
        <label class="col-form-label"> {{ "حالة رسوم المعاينة" | translate }}</label>
  
        <ng-select
          #CustomerName
          [items]="dataSearch.filter.ListPreviewValue"
          bindLabel="name"
          bindValue="id"
          [clearable]="true"
          class="w-full p-0"
          [(ngModel)]="dataSearch.filter.PreviewValueId"
          placeholder="{{ 'Chose' | translate }}"
          (change)="RefreshData()"
        >
        </ng-select>
      </div>
      <button
        class="btn btn-primary"
        (click)="dataSearch.filter.enable = !dataSearch.filter.enable;ClearDate();"
        [translate]="'name'"
        [translateParams]="{
          ar: 'فلترة بالوقت',
          en: 'Time Filter'
        }"
      ></button>
      <div class="form-group col-md-2 timeInput" *ngIf="dataSearch.filter.enable">
        <input
          placeholder="{{ 'Chose Date' | translate }}"
          [(ngModel)]="dataSearch.filter.date"
          type="text"
          (ngModelChange)="CheckDate($event)"
          class="form-control"
          [bsConfig]="{ rangeInputFormat: 'DD/MM/YYYY' }"
          bsDaterangepicker
          #dpr="bsDaterangepicker"
        />
      </div>
  
      <div class="w-fit">
        <input
          class="form-control"
          (keyup)="applyFilter($event)"
          placeholder="{{ 'search' | translate }}"
          #input
        />
      </div>
    </div>




    <!-- table -->
    <div class="overflow-auto">
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        class="mat-elevation-z8 rounded-t-lg overflow-hidden w-max"
      >
        <!-- name Column -->
        <ng-container matColumnDef="branchName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span>{{'اسم الفرع'}}</span>

          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.branchName }}
          </td>
        </ng-container>

        <!-- nationalId Column -->
        <ng-container matColumnDef="orderBarcode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span>{{'باركود العمليات '}}</span>

          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.orderBarcode }}
          </td>
        </ng-container>

        <ng-container matColumnDef="previewCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span>{{'كود المعاينة'}}</span>

          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.previewCode }}
          </td>
        </ng-container>
        
        <ng-container matColumnDef="customerName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span>{{'اسم العميل'}}</span>
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.customerName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="mainPhoneNo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span>{{'تليفون العميل'}}</span>
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.mainPhoneNo }}
          </td>
        </ng-container>
        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span>{{'العنوان'}}</span>
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.address }}
          </td>
        </ng-container>
        <ng-container matColumnDef="chairpersonName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span>{{'القائم بالمعاينة'}}</span>
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.chairpersonName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span>{{'تاريخ ووقت المعانية'}}</span>
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.date | date : " hh:mm yyyy-MM-dd" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="previewStatustxt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span>{{'حالة المعاينة'}}</span>
          </th>
          <td mat-cell *matCellDef="let element" >
            {{ element.previewStatustxt }}

          </td>
        </ng-container>
        <!-- <ng-container matColumnDef="previewConverttxt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span>{{'حالة التحويل'}}</span>
          </th>
          <td mat-cell *matCellDef="let element" >
            <span style="color: #0ea516;font-size: 14px;font-weight: bold;" *ngIf="element.previewConvert == true">
              {{ element.previewConverttxt }}
            </span>
            <span style="color: #b20b0b;font-size: 14px;font-weight: bold;" *ngIf="element.previewConvert == false">
              {{ element.previewConverttxt }}
            </span>
          </td>
        </ng-container> -->

        <ng-container matColumnDef="addDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span>{{'تاريخ الإنشاء'}}</span>
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.addDate | date : " hh:mm yyyy-MM-dd" }}
          </td>
        </ng-container>

        <!-- operations Column -->
        <ng-container matColumnDef="operations">
          <th
            mat-header-cell
            *matHeaderCellDef
            [translate]="'name'"
            [translateParams]="{
              ar: 'خيارات',
              en: 'Operations'
            }"
          ></th>
          <td mat-cell *matCellDef="let element">
            <div class="flex gap-1 justify-center py-2">
              <button *ngIf="element.previewStatus!=3 && userG?.userPrivileges.includes(140002)"
              class="min-w-max p-2 bg-orange-100 hover:bg-orange-500 rounded-lg duration-300 hover:text-white aspect-square w-10"
                (click)="openModal(dataModal, element, 'editPreview')"
              >
                <i class="fa-regular fa-pen-to-square"></i>
              </button>
              <!-- <button *ngIf="element.previewStatus==3 && !element.previewConvert"
              class="min-w-max p-2 bg-green-100 hover:bg-green-500 rounded-lg duration-300 hover:text-white aspect-square w-10"
              (click)="openModal(convertModal, element, 'convertPreview')"
            >
            <i class="fa-solid fa-arrow-rotate-right"></i>
            </button> -->
            <button *ngIf="userG?.userPrivileges.includes(140006)"
            class="min-w-max p-2 bg-green-100 hover:bg-green-500 rounded-lg duration-300 hover:text-white aspect-square w-10"
            (click)="open(uploadFileModal, element, 'uploadFile')" >
            <i class="fa fa-upload"></i>
            </button>
            <button *ngIf="userG?.userPrivileges.includes(140007)"
            class="min-w-max p-2 bg-blue-100 hover:bg-blue-500 rounded-lg duration-300 hover:text-white aspect-square w-10"
            (click)="open(ShowPreviewFilesModal, element, 'ShowPreviewFiles')" >
            <!-- <i class="fa fa-eye"></i> -->
            <i class="fa-solid fa-download"></i>
            </button>

          
            <button *ngIf="!element.previewConvert && userG?.userPrivileges.includes(140003)"
                class="min-w-max p-2 bg-red-100 hover:bg-red-500 rounded-lg duration-300 hover:text-white aspect-square w-10"
                (click)="openModal(deleteModal, element, 'delete')"
              >
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </div>
          </td>
        </ng-container>

        <!-- Symbol Column -->

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          class="duration-300 hover:bg-slate-100"
          (dblclick)="openModal(dataModal, row, 'PreviewView')"
          ></tr>
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="11">
            {{ "لا يوجد نتائج" }} 
          </td>
        </tr>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[10, 25, 100, dataSource.data.length]">
    </mat-paginator>
  </div>

  <!-- modals  -->
  <ng-template #dataModal>
    <div
      style="background-color: var(--base-color)"
      class="modal-header text-white flex justify-between items-center"
    >
      <h4 class="m-0">
        <span class="text-2xl">{{ 'المعاينة' | translate }}</span>
      </h4>
      <button
        type="button"
        class="text-2xl text-white m-0"
        (click)="modal?.hide()"
      >
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
    <div class="modal-body">
      <ng-container>
        <form class="modal-form" addForm="ngForm">
          <div>

            <div class="form-group">
              <label class="col-form-label">
                {{ "فرع المعاينة" | translate }}</label
              >

              <ng-select
                style="min-width: max-content"
                id="branchId"
                #branchId="ngModel"
                required
                class="w-full p-0 {{
                  branchId.invalid && branchId.touched ? 'errorInput' : ''
                }}"
                [disabled]="load_BranchUserId?.length == 1"
                [clearable]="false"
                (change)="BranchChange(modalDetails.branchId,'addPreview1')"
                name="branchId"
                placeholder=" {{ 'فرع المعاينة' | translate }}"
                [(ngModel)]="modalDetails.branchId"
                [ngModelOptions]="{ standalone: true }"
              >
                <ng-option
                  *ngFor="let branch of load_BranchUserId"
                  [value]="branch.id"
                  >{{ branch.name }}</ng-option
                >
              </ng-select>
            </div>

            <div class="form-group" *ngIf="TransbarcodeActive">
              <label class="col-form-label">
                {{ "باركود العمليات" | translate }}</label
              >

              <ng-select
                style="min-width: max-content"
                id="orderBarcode"
                #orderBarcode="ngModel"
                required
                class="w-full p-0 {{
                  orderBarcode.invalid && orderBarcode.touched ? 'errorInput' : ''
                }}"
                [clearable]="false"
                name="branchId"
                placeholder=" {{ 'باركود العمليات' | translate }}"
                [(ngModel)]="modalDetails.previewBarcodeSelect"
                [ngModelOptions]="{ standalone: true }"
                (change)="getpreviewdata(modalDetails.previewBarcodeSelect)"

              >
                <ng-option
                  *ngFor="let prev of load_BarcodesCustomer"
                  [value]="prev.id"
                  >{{ prev.name }}</ng-option>
              </ng-select>
            </div>


            <div class="form-group" *ngIf="!TransbarcodeActive">
              <label for="orderBarcode" class="col-form-label">
                <ng-container>
                  {{ "باركود العمليات" | translate }}
                </ng-container>
              </label>
              <input
                type="text"
                class="form-control"
                id="orderBarcode"
                autocomplete="off"
                #orderBarcode="ngModel"
                required
                class="form-control {{ modalDetails.orderBarcode == null? 'errorInput': ''}}"
                name="orderBarcode"
                [disabled]="!TransbarcodeActive"
                placeholder="{{ 'Write' | translate }} {{
                  'باركود العمليات' | translate
                }} "
                [(ngModel)]="modalDetails.orderBarcode"
              />
            </div>

            <div class="form-group">
              <label for="previewCode" class="col-form-label">
                <ng-container>
                  {{ "كود المعاينة" | translate }}
                </ng-container>
              </label>
              <input
                type="text"
                class="form-control"
                id="previewCode"
                autocomplete="off"
                #previewCode="ngModel"
                required
                class="form-control {{ modalDetails.previewCode == null? 'errorInput': ''}}"
                name="previewCode"
                disabled
                placeholder="{{ 'Write' | translate }} {{
                  'كود المعاينة' | translate
                }} "
                [(ngModel)]="modalDetails.previewCode"
              />
            </div>

            <div class="form-group">
              <label class="col-form-label">{{ "كود العميل" | translate }}</label>
              <ng-select
                style="min-width: max-content"
                id="customerId"
                #customerId="ngModel"
                required
                class="w-full p-0 form-control {{modalDetails.customerId == null ? 'errorInput': ''}}"
                [clearable]="true"
                [disabled]="modalDetails.type=='PreviewView' || TransbarcodeActive"
                name="customerId"
                (change)="CustomerChange(modalDetails.customerId)"
                placeholder=" {{ 'كود العميل' | translate }}"
                [(ngModel)]="modalDetails.customerId"
                [ngModelOptions]="{ standalone: true }"
              >
                <ng-option
                  *ngFor="let cus of load_Customers"
                  [value]="cus.customerId"
                  >{{ cus.customerCode }}</ng-option
                >
              </ng-select>
            </div>

            <div class="form-group">
              <label class="col-form-label">{{ "اسم العميل" | translate }}</label>
              <ng-select
                style="min-width: max-content"
                id="customerId"
                #customerId="ngModel"
                [disabled]="modalDetails.type=='PreviewView' || TransbarcodeActive"
                class="w-full p-0 form-control {{modalDetails.customerId == null ? 'errorInput': ''}}"
                [clearable]="true"
                name="customerId"
                placeholder=" {{ 'اسم العميل' | translate }}"
                [(ngModel)]="modalDetails.customerId"
                [ngModelOptions]="{ standalone: true }"
                (change)="CustomerChange(modalDetails.customerId)"
              >
                <ng-option
                  *ngFor="let cus of load_Customers"
                  [value]="cus.customerId"
                  >{{ cus.nameAr }}</ng-option
                >
              </ng-select>
            </div>
            
            <div class="form-group">
              <label class="col-form-label">{{ "رقم التليفون" | translate }}</label>
              <ng-select
                style="min-width: max-content"
                id="customerId"
                [disabled]="modalDetails.type=='PreviewView' || TransbarcodeActive"
                #customerId="ngModel"
                class="w-full p-0 form-control {{modalDetails.customerId == null ? 'errorInput': ''}}"
                [clearable]="true"
                name="customerId"
                placeholder=" {{ 'رقم التليفون' | translate }}"
                [(ngModel)]="modalDetails.customerId"
                [ngModelOptions]="{ standalone: true }"
                (change)="CustomerChange(modalDetails.customerId)"
              >
                <ng-option
                  *ngFor="let cus of load_Customers"
                  [value]="cus.customerId"
                  >{{ cus.mainPhoneNo }}</ng-option
                >
              </ng-select>
            </div>
            
            <div class="form-group">
              <label class="col-form-label">{{ "رقم التليفون 2" | translate }}</label>
              <ng-select
                style="min-width: max-content"
                id="customerId"
                disabled
                #customerId="ngModel"
                class="w-full p-0 form-control {{modalDetails.customerId == null ? 'errorInput': ''}}"
                [clearable]="true"
                name="customerId"
                placeholder=" {{ 'رقم التليفون 2' | translate }}"
                [(ngModel)]="modalDetails.customerId"
                [ngModelOptions]="{ standalone: true }"
                (change)="CustomerChange(modalDetails.customerId)"
              >
                <ng-option
                  *ngFor="let cus of load_Customers"
                  [value]="cus.customerId"
                  >{{ cus.subMainPhoneNo }}</ng-option
                >
              </ng-select>
            </div>

            <div class="form-group">
              <label class="col-form-label">{{ "منطقة العميل" | translate }}</label>
              <ng-select
                style="min-width: max-content"
                id="customerId"
                #customerId="ngModel"
                class="w-full p-0 form-control {{modalDetails.customerId == null ? 'errorInput': ''}}"
                [clearable]="true"
                disabled
                name="customerId"
                placeholder=" {{ 'منطقة العميل' | translate }}"
                [(ngModel)]="modalDetails.customerId"
                [ngModelOptions]="{ standalone: true }"
              >
                <ng-option
                  *ngFor="let cus of load_Customers"
                  [value]="cus.customerId"
                  >{{ cus.cityName }}</ng-option
                >
              </ng-select>
            </div>

            <div class="form-group">
              <label class="col-form-label">{{ "العنوان" | translate }}</label>
              <ng-select
                style="min-width: max-content"
                id="customerId"
                #customerId="ngModel"
                class="w-full p-0 form-control {{modalDetails.customerId == null ? 'errorInput': ''}}"
                [clearable]="true"
                disabled
                name="customerId"
                placeholder=" {{ 'العنوان' | translate }}"
                [(ngModel)]="modalDetails.customerId"
                [ngModelOptions]="{ standalone: true }"
              >
                <ng-option
                  *ngFor="let cus of load_Customers"
                  [value]="cus.customerId"
                  >{{ cus.address }}</ng-option
                >
              </ng-select>
            </div>

            <div class="form-group">
              <label class="col-form-label">{{ "عرفتنا عن طريق" | translate }}</label>
              <ng-select
                style="min-width: max-content"
                id="customerId"
                #customerId="ngModel"
                class="w-full p-0 form-control {{modalDetails.customerId == null ? 'errorInput': ''}}"
                [clearable]="true"
                name="customerId"
                disabled
                placeholder=" {{ 'عرفتنا عن طريق' | translate }}"
                [(ngModel)]="modalDetails.customerId"
                [ngModelOptions]="{ standalone: true }"
              >
                <ng-option
                  *ngFor="let cus of load_Customers"
                  [value]="cus.customerId"
                  >{{ cus.socialMediaName }}</ng-option
                >
              </ng-select>
            </div>


            <div class="form-group">
              <label for="date" class="text-right col-form-label block">
                {{ "تاريخ المعاينة" | translate }}
              </label>
              <input
                placeholder="{{ 'Chose' | translate }}"
                name="date"
                type="text"
                class="form-control {{ modalDetails.date == null? 'errorInput': ''}}"
                [disabled]="modalDetails.type=='PreviewView'"
                bsDatepicker
                #dpr="bsDatepicker"
                autocomplete="off"
                [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                [(ngModel)]="modalDetails.date"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <!-- <label class="text-right col-form-label block">
                  {{ "from the hour" | translate }}
                </label> -->
                <span style="padding-right: 110%; color: #cd2a2a">{{
                  "minute" | translate
                }}</span>
                <span style="padding-right: 52%; color: #cd2a2a">{{
                  "hour" | translate
                }}</span>
                <div class="form-group timeInput">
                  <timepicker
                    [(ngModel)]="modalDetails.prevDateTime"
                    style="direction: ltr"
                    [ngModelOptions]="{ standalone: true }"
                    name="prevDateTime"
                    autocomplete="off"

                  ></timepicker>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-form-label">
                {{ "القائم بالمعاينة" | translate }}
              </label>
              <ng-select
                class="w-full p-0 form-control {{modalDetails.previewChairperson == null ? 'errorInput': ''}}"
                [disabled]="modalDetails.type=='PreviewView'"
                placeholder="{{ 'القائم بالمعاينة' | translate }}"
                [(ngModel)]="modalDetails.previewChairperson"
                [ngModelOptions]="{ standalone: true }"
              >
                <ng-option *ngFor="let emp of load_Employees" [value]="emp.employeeId">{{
                  emp.nameAr
                }}</ng-option>
              </ng-select>
            </div>

            <div class="form-group">
              <label class="col-form-label">{{ "نوع المعاينة" | translate }}</label>
              <div class="flex">

                <ng-select
                style="min-width: max-content" 
                id="previewTypeId"
                #customerId="ngModel"
                [disabled]="modalDetails.type=='PreviewView'"
                class="w-full p-0 form-control {{modalDetails.previewTypeId == null ? 'errorInput': ''}}"
                [clearable]="true"
                name="previewTypeId"
                placeholder=" {{ 'نوع المعاينة' | translate }}"
                [(ngModel)]="modalDetails.previewTypeId"
                [ngModelOptions]="{ standalone: true }"
              >
                <ng-option
                  *ngFor="let item of PreviewTypesList"
                  [value]="item.id"
                  >{{ item.name }}</ng-option
                >
              </ng-select>

              <button
              type="button"
              class="btn bg-base text-white"
              style="padding: 5px 10px"
              (click)="open(AddOption, null, 'addpreviewtype')"
            >
              <i class="fa fa-plus"></i>
            </button>
              </div>


            </div>




            <div class="form-group">
              <label class="col-form-label">{{ "حالة المعاينة" | translate }}</label>
              <ng-select
                style="min-width: max-content"
                id="previewStatus"
                #customerId="ngModel"
                [disabled]="modalDetails.type=='PreviewView'"
                class="w-full p-0 form-control {{modalDetails.previewStatus == null ? 'errorInput': ''}}"
                [clearable]="true"
                name="previewStatus"
                placeholder=" {{ 'حالة المعاينة' | translate }}"
                [(ngModel)]="modalDetails.previewStatus"
                [ngModelOptions]="{ standalone: true }"
                (change)="previewStatusChange()"
              >
              <ng-option *ngFor="let type of PreviewStatusList" [value]="type.id" [translate]="'name'"
                [translateParams]="{ar: type.name?.ar,en: type.name?.en}"></ng-option>
              </ng-select>
            </div>


            <div class="flex gap-2 items-end mt-3">
              <mat-slide-toggle style="height: 41px !important;"
                color="primary"
                [(ngModel)]="modalDetails.totalValueStatus"
                [ngModelOptions]="{ standalone: true }"
              >
                <span>{{'رسوم المعاينة نشط'}}</span>
              </mat-slide-toggle>
            </div>

            <div class="form-group" *ngIf="modalDetails.totalValueStatus">
              <label for="totalValue" class="col-form-label">
                <ng-container>
                  {{ "مبلغ الرسوم" | translate }}
                </ng-container>
              </label>
              <input
                type="text"
                class="form-control"
                id="totalValue"
                autocomplete="off"
                #orderBarcode="ngModel"
                required
                class="form-control {{ modalDetails.totalValue == null? 'errorInput': ''}}"
                name="totalValue"
                placeholder="{{ 'Write' | translate }} {{
                  'مبلغ الرسوم' | translate
                }} "
                [(ngModel)]="modalDetails.totalValue"
              />
            </div>



            <!-- <div class="form-group">

            </div> -->
            <!-- <div class="form-group">

            </div> -->
            
            
          <div class="form-group" *ngIf="modalDetails.previewStatus==3">
            <label for="meetingCode" class="col-form-label" style="color: red;">
              <ng-container>
                {{ "كود الإجتماع" | translate }}
              </ng-container>
            </label>
            <input
              type="text"
              class="form-control"
              id="meetingCode"
              autocomplete="off"
              #meetingCode="ngModel"
              disabled
              class="form-control"
              name="meetingCode"
              placeholder="{{
                'كود الإجتماع' | translate
              }} "
              [(ngModel)]="modalDetails.meetingCode"
            />
          </div>


          <div class="form-group" *ngIf="modalDetails.previewStatus==3">
            <label for="date" class="text-right col-form-label block" style="color: red;">
              {{ "تاريخ الإجتماع" | translate }}
            </label>
            <input
              placeholder="{{ 'Chose' | translate }}"
              name="meetingDate"
              type="text"
              class="form-control"
              bsDatepicker
              #dpr="bsDatepicker"
              [disabled]="modalDetails.type=='PreviewView'"
              autocomplete="off"
              [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
              [(ngModel)]="modalDetails.meetingDate"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>

          <div class="col-md-3"  *ngIf="modalDetails.previewStatus==3">
            <div class="form-group">
              <!-- <label class="text-right col-form-label block">
                {{ "from the hour" | translate }}
              </label> -->
              <span style="padding-right: 110%; color: #cd2a2a">{{
                "minute" | translate
              }}</span>
              <span style="padding-right: 52%; color: #cd2a2a">{{
                "hour" | translate
              }}</span>
              <div class="form-group timeInput">
                <timepicker
                  [(ngModel)]="modalDetails.meetDateTime"
                  style="direction: ltr"
                  [ngModelOptions]="{ standalone: true }"
                  name="meetDateTime"
                  autocomplete="off"

                ></timepicker>
              </div>
            </div>
          </div>

          <div class="form-group" *ngIf="modalDetails.previewStatus==3">
            <label class="col-form-label" style="color: red;">
              {{ "القائم بالإجتماع" | translate }}
            </label>
            <ng-select
              class="w-full p-0"
              [disabled]="modalDetails.type=='PreviewView'"
              placeholder="{{ 'القائم بالإجتماع' | translate }}"
              [(ngModel)]="modalDetails.meetingChairperson"
              [ngModelOptions]="{ standalone: true }"
            >
              <ng-option *ngFor="let emp of load_Employees_Meet" [value]="emp.employeeId">{{
                emp.nameAr
              }}</ng-option>
            </ng-select>
          </div>

          <!-- <div style="text-align: center;padding-top: 13%;" class="form-group" *ngIf="modalDetails.type=='PreviewView' && modalDetails.previewConvert">
            <button
            class="btn bg-base text-white"
            (click)="UpdateMeeting()">
            {{ "حفظ بيانات الإجتماع" | translate }}
          </button>
          </div> -->
         

          </div>





          <div>
            <div class="form-group col-span-4">
              <label for="example-text-input" class="col-form-label">{{
                "Notes" | translate
              }}</label>
              <textarea
                class="form-control autosizeme"
                style="
                  border: 1px solid #b0b1b2;
                  border-radius: 6px !important;
                  padding: 5px 6px;
                "
                cols="30"
                rows="4"
                [disabled]="modalDetails.type=='PreviewView'"
                id="Notestxt3"
                autocomplete="off"
                name="Notestxt3"
                placeholder="Notes"
                [(ngModel)]="modalDetails.notes"
              ></textarea>
            </div>
          </div>
        </form>
        <div
          class="flex flex-wrap items-end border-t justify-between pt-2 border-neutral-300"
        >
          <div class="flex gap-2 items-center">
            <div  *ngIf="modalDetails.addDate != null && modalDetails.addDate != ''" class="flex flex-col gap-2">
              <span>{{ "تاريخ إنشاء المستند" | translate }}</span>
              <div class="flex flex-col">
                <span>{{
                  modalDetails?.addDate | date : " hh:mm yyyy-MM-dd"}}</span>
              </div>
            </div>
          </div>
          <div  class="flex gap-2 items-center">
            <div *ngIf="modalDetails.updateDate != null && modalDetails.updateDate != ''" class="flex flex-col gap-2">
              <span>{{ "تاريخ تعديل المستند" | translate }}</span>
              <div class="flex flex-col">
                <span>{{
                  modalDetails?.updateDate | date : " hh:mm yyyy-MM-dd"}}</span>
              </div>
            </div>
          </div>
          <div class="flex gap-2">
            <button *ngIf="modalDetails.type!='PreviewView'"
              class="btn bg-base text-white"
              (click)="addPreview()"
              [disabled]="disableButtonSave_Preview"
            >
              {{ "save" | translate }}
            </button>
            <button (click)="modal?.hide()" class="btn btn-secondary">
              {{ "Back" | translate }}
            </button>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-template>

  <!-- confirm delete -->
  <ng-template #deleteModal>
    <div class="modal-body text-center">
      <p
        [translate]="'name'"
        [translateParams]="{
          ar: 'هل تريد بالتأكيد حذف هذا الصف',
          en: 'Are you sure to delete this row ?'
        }"
      ></p>
      <div class="flex gap-2 justify-center">
        <button
          type="button"
          mat-raised-button
          color="warn"
          (click)="confirm()"
        >
          {{ "Yes" | translate }}
        </button>
        <button
          type="button"
          (click)="decline()"
          mat-raised-button
          color="basic"
        >
          {{ "No" | translate }}
        </button>
      </div>
    </div>
  </ng-template>
  <!-- confirm convert -->
  <ng-template #convertModal>
    <div class="modal-body text-center">
      <p
        [translate]="'name'"
        [translateParams]="{
          ar: 'هل تريد تحويل هذه المعاينة للإجتماع',
          en: 'Are you sure to convert this preview to meeting ?'
        }"
      ></p>
      <div class="flex gap-2 justify-center">
        <button
          type="button"
          mat-raised-button
          color="warn"
          (click)="confirmConvert()"
        >
          {{ "Yes" | translate }}
        </button>
        <button
          type="button"
          (click)="decline()"
          mat-raised-button
          color="basic"
        >
          {{ "No" | translate }}
        </button>
      </div>
    </div>
  </ng-template>

  <!-- confirm addPreviewMessage -->
  <ng-template #addPreviewMessage let-modal>
    <div class="modal-body text-center">
      <div class="row">
        <p class="col-md-11"
        [translate]="'name'"
        [translateParams]="{
          ar: 'هل تريد اضافة معاينة بباركود عمليات قديم ؟',
          en: 'Do you want to add a preview with an old transaction barcode?'
        }"
      ></p>
      <button
      type="button"
      style="color: #080808;"
      class="text-2xl m-0 col-md-1"
      (click)="modal.dismiss();">
      <i class="fa-solid fa-xmark"></i>
    </button>
      </div>

      <div class="flex gap-2 justify-center">
        <button
          type="button"
          mat-raised-button
          color="warn"
          (click)="confirmAddPreviewMessage();modal.dismiss();openModal(dataModal, null, 'addPreview1')"
        >
          {{ "Yes" | translate }}
        </button>
        <button
          type="button"
          (click)="declineAddPreviewMessage();modal.dismiss();openModal(dataModal, null, 'addPreview1')"
          mat-raised-button
          color="basic"
        >
          {{ "No" | translate }}
        </button>
      </div>
    </div>
  </ng-template>


</div>

<!-- Add option -->
<ng-template #AddOption let-modal>
  <div
    style="background-color: var(--base-color)"
    class="modal-header text-white flex justify-between items-center"
  >
    <h4 class="m-0">
      <span class="text-2xl"> نوع معاينة جديدة </span>
    </h4>
    <button
      type="button"
      class="text-2xl text-white m-0"
      (click)="modal?.dismiss()"
    >
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>
  <div class="modal-body text-center">
    <form #addPreviewType="ngForm" class="grid grid-cols-1 md:grid-cols-2 gap-2">
      <div class="form-group">
        <label for="previewTypeNameArtxt3" class="text-right col-form-label block">
          {{ "nameAr" | translate }}
          <span class="text-danger">*</span></label
        >
        <input
          required
          #previewTypeNameAr="ngModel"
          [(ngModel)]="AddDataType.PreviewTypedata.namear"
          class="form-control"
          type="text"
          id="previewTypeNameArtxt3"
          name="previewTypeNameArtxt3"
          autocomplete="off"
          [placeholder]="('Write' | translate) + ' ' + ('nameAr' | translate)"
        />
      </div>
      <div class="form-group">
        <label for="previewTypeNameEntxt3" class="text-right col-form-label block">
          {{ "nameEn" | translate }}
          <span class="text-danger">*</span></label
        >
        <div style="display: inline-flex; width: 100%">
          <input
            required
            #previewTypeNameEnValue
            #previewTypeNameEn="ngModel"
            [(ngModel)]="AddDataType.PreviewTypedata.nameen"
            class="form-control"
            type="text"
            id="previewTypeNameEntxt3"
            name="previewTypeNameEntxt3"
            autocomplete="off"
            [placeholder]="('Write' | translate) + ' ' + ('nameEn' | translate)"
          />
          <a
            class="btn"
            id="CopypreviewTypeName2"
            (click)="
              AddDataType.PreviewTypedata.nameen = AddDataType.PreviewTypedata.namear
            "
            ><i class="fa fa-copy"></i
          ></a>
        </div>
      </div>
    </form>
    <div class="max-h-80 overflow-auto px-2">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>{{ "nameAr" | translate }}</th>
            <th>{{ "nameEn" | translate }}</th>
            <th
              [translate]="'name'"
              [translateParams]="{
                ar: 'خيارات',
                en: 'Operations'
              }"
            ></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let type of PreviewTypesList"
            (dblclick)="
              setPreviewTypeInSelect(type, modal); modal.dismiss('Cross click')
            "
          >
            <td>{{ type.name }}</td>
            <td>{{ type.nameEn }}</td>
            <td class="flex gap-2 justify-center">
              <button
                class="p-2 bg-orange-100 hover:bg-orange-500 rounded-lg duration-300 hover:text-white aspect-square w-10"
                (click)="
                  AddDataType.PreviewTypedata.id = type.id;
                  AddDataType.PreviewTypedata.namear = type.name;
                  AddDataType.PreviewTypedata.nameen = type.nameEn
                "
              >
                <i class="fa-regular fa-pen-to-square"></i>
              </button>
              <button
                (click)="getPreviewTypeRow(type);
                  open(
                    deletePreviewType,
                    AddDataType.PreviewTypedata,
                    'deletePreviewType'              
                  )
                "
                class="p-2 bg-red-100 hover:bg-red-500 rounded-lg duration-300 hover:text-white aspect-square w-10"
              >
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="flex gap-2 mt-3 pt-3 border-t border-neutral-300">
      <button
        class="btn bg-base text-white"
        type="submit"
        [disabled]="!AddDataType.PreviewTypedata.namear"
        (click)="savePreviewType()"
      >
        {{ "Save" | translate }}
      </button>
      <button (click)="modal.dismiss()" class="btn btn-secondary">
        {{ "Back" | translate }}
      </button>
      <button (click)="resetPreviewType()" class="btn bg-base text-white">
        {{ "جديد" | translate }}
      </button>
    </div>
  </div>
</ng-template>

<!-- deletePreviewTypeModal -->
<ng-template #deletePreviewType let-modal>
  <div class="modal-body text-center">
    <p
      [translate]="'name'"
      [translateParams]="{
        ar: 'هل تريد بالتأكيد حذف هذا الصف',
        en: 'Are you sure to delete this row ?'
      }"
    ></p>
    <div class="flex gap-2 justify-center mt-3">
      <button
        type="button"
        mat-raised-button
        color="warn"
        (click)="confirmPreviewTypeDelete(); modal.dismiss()"
      >
        {{ "Yes" | translate }}
      </button>
      <button
        type="button"
        (click)="modal.dismiss()"
        mat-raised-button
        color="basic"
      >
        {{ "No" | translate }}
      </button>
    </div>
  </div>
</ng-template>

<!-- uploadFileModal -->
<ng-template #uploadFileModal let-modal>
  <div class="modal-header bg-base text-white">
    <h4
      class="modal-title mb-0"
      id="modal-basic-title">{{"رفع ملف علي معاينة"}}</h4>
    <button type="button" class="m-0" (click)="modal.dismiss('Cross click')">
      <i class="fa fa-close"></i>
    </button>
  </div>
  <div class="modal-body">
    <form #uploadForm="ngForm">
      <div class="row items-end uploadDiv">
        <div class="col-md-4 mb-3">
          <div class="form-input-group">
            <label
              for=""
              class="block"
              [translate]="'name'"
              [translateParams]="{ ar: 'اسم الملف', en: 'File name' }"
            ></label>
            <input type="text" class="form-control" [ngModelOptions]="{standalone: true}"
             [(ngModel)]="dataFile.FileName" name="file_name" autocomplete="off"/>
          </div>
        </div>

        <div class="upload row-span-2">
          <file-upload class="h-full" [control]="control" (click)="clickfile($event)" (focus)="focusfile($event)" (blur)="blurfile($event)">
            <ng-template
              let-isFileDragDropAvailable="isFileDragDropAvailable"
              #placeholder
            >
              <div class="px-5 flex flex-column justify-center items-center gap-2"*ngIf="control.size === 0">
                <div class="icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="1em"
                    viewBox="0 0 640 512"
                  >
                    <path
                      d="M144 480C64.5 480 0 415.5 0 336c0-62.8 40.2-116.2 96.2-135.9c-.1-2.7-.2-5.4-.2-8.1c0-88.4 71.6-160 160-160c59.3 0 111 32.2 138.7 80.2C409.9 102 428.3 96 448 96c53 0 96 43 96 96c0 12.2-2.3 23.8-6.4 34.6C596 238.4 640 290.1 640 352c0 70.7-57.3 128-128 128H144zm79-217c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l39-39V392c0 13.3 10.7 24 24 24s24-10.7 24-24V257.9l39 39c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-80-80c-9.4-9.4-24.6-9.4-33.9 0l-80 80z"
                    />
                  </svg>
                </div>

                <div class="upload-text">
                  {{ "Upload File" | translate }} 😶
                </div>
              </div>
            </ng-template>

            <ng-template
              let-i="index"
              let-file="file"
              let-control="control"
              #item
            >
            <div *ngIf="file">
              <span class="delete-button" style="display: flex;" (click)="control.removeFile(file)"> <span> حذف ❌ </span>
                <svg viewBox="0 0 448 512">
                  <path
                    d="M32 464a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128H32zm272-256a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zM432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z"
                  ></path>
                </svg>
              </span>
              <img class="max-h-44" *ngIf="control.valid" [src]="uploadedFile | async"/>

              <section class="file-info">
                <span style="font-size: 16px;font-weight: 700;">تفاصيل الملف</span>
                <hr/>
                <ul>
                  <li><span style="color:red;">Name: </span>{{file.name}}</li>
                  <li><span style="color:red;">Type: </span>{{file.type}}</li>
                  <li><span style="color:red;">Size: </span>{{file.size}} bytes</li>
                </ul>
              </section>
              <section *ngIf="!(control.size === 0)">
                <p>تم تحديد الملف بنجاح، ولرفع الملف علي المعاينة اضغط زر رفع الملف ✅ </p>
              </section>
            </div>
            </ng-template>
          </file-upload>
        </div>
        <mat-progress-bar style="height: 12px;" mode="determinate" value="{{progress}}"></mat-progress-bar>
        <p style="text-align: center;color: #950101;" *ngIf="uploading"> جاري التحميل ... ⏳ </p>
        <p style="font-weight: 700;">يرجي الانتباه للاتي عند رفع ملف : </p>
        <p><span style="color:red">أولا</span> : تأكد من فحص الملف بواسطة مكافح الفيروسات والتأكد منه قبل رفعه علي النظام</p>
      </div>
    </form>
  </div>
  <div class="modal-footer justify-content-end" style="border-top: none">
    <button
      type="button"
      class="btn btn-light py-2 px-3 mt-0"
      (click)="modal.dismiss('Cross click')"
    >
      {{ "close" | translate }}
    </button>
    <button
      [disabled]="control.size === 0 || disableButtonSave_File"
      type="button"
      class="btn submit-btn bg-base text-white py-2 px-3 mt-0"
      (click)="SaveprojectFiles('add',uploadForm.value,1)"
    >
      {{ "رفع الملف" | translate }}
      <i class="fa fa-upload"></i>
    </button>
  </div>
</ng-template>

<!-- ShowPreviewFilesModal -->
<ng-template #ShowPreviewFilesModal let-modal>
  <div
    style="background-color: var(--base-color)"
    class="modal-header text-white flex justify-between items-center"
  >
    <h4 class="m-0">
      <span class="text-2xl"> عرض الملفات </span>
    </h4>
    <button
      type="button"
      class="text-2xl text-white m-0"
      (click)="modal?.dismiss()"
    >
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>
  <div class="modal-body text-center">
    <div class="max-h-80 overflow-auto px-2">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>{{ "أسم الملف" | translate }}</th>
            <th>{{ "تاريخ رفع الملف" | translate }}</th>
            <th
              [translate]="'name'"
              [translateParams]="{
                ar: 'خيارات',
                en: 'Operations'
              }"
            ></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let type of PreviewFilesList">
            <td>{{ type.fileName }}</td>
            <td>{{type.addDate | date : " hh:mm yyyy-MM-dd"}}</td>
            <td class="flex gap-2 justify-center">
              <button
                class="p-2 bg-orange-100 hover:bg-orange-500 rounded-lg duration-300 hover:text-white aspect-square w-10"
                (click)="downloadFile(type)">
                <!-- <i class="fa fa-eye"></i> -->
                <i class="fa-solid fa-download"></i>
              </button>
              <button *ngIf="!modalDetails.previewConvert"
              (click)="getPreviewFileRow(type);open(deletePreviewFile,type,'deletePreviewFile')"
              class="p-2 bg-red-100 hover:bg-red-500 rounded-lg duration-300 hover:text-white aspect-square w-10"
            >
              <i class="fa-solid fa-trash-can"></i>
            </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="flex gap-2 mt-3 pt-3 border-t border-neutral-300">
      <button (click)="modal.dismiss()" class="btn btn-secondary">
        {{ "Back" | translate }}
      </button>
    </div>
  </div>
</ng-template>

<!-- deletePreviewFile -->
<ng-template #deletePreviewFile let-modal>
  <div class="modal-body text-center">
    <p
      [translate]="'name'"
      [translateParams]="{
        ar: 'هل تريد بالتأكيد حذف هذا الصف',
        en: 'Are you sure to delete this row ?'
      }"
    ></p>
    <div class="flex gap-2 justify-center mt-3">
      <button
        type="button"
        mat-raised-button
        color="warn"
        (click)="confirmDeletePreviewFile(); modal.dismiss()"
      >
        {{ "Yes" | translate }}
      </button>
      <button
        type="button"
        (click)="modal.dismiss()"
        mat-raised-button
        color="basic"
      >
        {{ "No" | translate }}
      </button>
    </div>
  </div>
</ng-template>