<div class="preview pb-4">
  <app-navigator [title]="title"></app-navigator>

  <div class="tables-data mt-3 overflow-hidden">
    <!-- buttons -->
    <div class="flex justify-between gap-2 items-center my-3 flex-wrap">
      <div class="w-fit">
        <input
          class="form-control"
          (keyup)="applyFilter($event)"
          placeholder="{{ 'search' | translate }}"
          #input
        />
      </div>

      <!---------------------------------------------------------------------------->
      <div class="flex gap-2 controler">
        <button *ngIf="allPreviewCount==0"
          class="flex gap-1 btn btn-primary"
          (click)="openModal(dataModal, null, 'addPreview2')">
          <span
            class="hidden md:block"
            [translate]="'name'"
            [translateParams]="{
              ar: 'معاينة جديدة ',
              en: 'New Preview '
            }"
          ></span>
          <i class="fa-solid fa-user-plus"></i>
        </button>
        <button *ngIf="allPreviewCount!=0"
        class="flex gap-1 btn btn-primary"
        (click)="open(addPreviewMessage, null, 'addPreviewMessage')">
        <span
          class="hidden md:block"
          [translate]="'name'"
          [translateParams]="{
            ar: 'معاينة جديدة ',
            en: 'New Preview '
          }"
        ></span>
        <i class="fa-solid fa-user-plus"></i>
        </button>
        <button
          class="flex gap-1 btn btn-warning"
          (click)="exportData()"
        >
          <span
            class="hidden md:block"
            [translate]="'name'"
            [translateParams]="{
              ar: 'تصدير ملف إكسل',
              en: 'Export To Excel'
            }"
          ></span>
          <i class="fa-solid fa-file-export"></i>
        </button>
      </div>
    </div>

    <!-- table -->
    <div class="overflow-auto">
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        class="mat-elevation-z8 rounded-t-lg overflow-hidden w-max"
      >
        <!-- name Column -->
        <ng-container matColumnDef="branchName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span>{{'اسم الفرع'}}</span>

          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.branchName }}
          </td>
        </ng-container>

        <!-- nationalId Column -->
        <ng-container matColumnDef="orderBarcode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span>{{'باركود الطلب '}}</span>

          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.orderBarcode }}
          </td>
        </ng-container>

        <ng-container matColumnDef="previewCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span>{{'كود المعاينة'}}</span>

          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.previewCode }}
          </td>
        </ng-container>
        

        <!-- phone Column -->
        <ng-container matColumnDef="customerName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span>{{'اسم العميل'}}</span>
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.customerName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="chairpersonName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span>{{'القائم بالمعاينة'}}</span>
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.chairpersonName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="previewStatustxt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span>{{'حالة المعاينة'}}</span>
          </th>
          <td mat-cell *matCellDef="let element" >
            {{ element.previewStatustxt }}

          </td>
        </ng-container>
        <ng-container matColumnDef="previewConverttxt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span>{{'حالة التحويل'}}</span>
          </th>
          <td mat-cell *matCellDef="let element" >
            <span style="color: #0ea516;font-size: 14px;font-weight: bold;" *ngIf="element.previewConvert == true">
              {{ element.previewConverttxt }}
            </span>
            <span style="color: #b20b0b;font-size: 14px;font-weight: bold;" *ngIf="element.previewConvert == false">
              {{ element.previewConverttxt }}
            </span>
          </td>
        </ng-container>

        <!-- operations Column -->
        <ng-container matColumnDef="operations">
          <th
            mat-header-cell
            *matHeaderCellDef
            [translate]="'name'"
            [translateParams]="{
              ar: 'خيارات',
              en: 'Operations'
            }"
          ></th>
          <td mat-cell *matCellDef="let element">
            <div class="flex gap-1 justify-center py-2">
              <button *ngIf="element.previewStatus!=3"
              class="min-w-max p-2 bg-orange-100 hover:bg-orange-500 rounded-lg duration-300 hover:text-white aspect-square w-10"
                (click)="openModal(dataModal, element, 'editPreview')"
              >
                <i class="fa-regular fa-pen-to-square"></i>
              </button>
              <!-- <button *ngIf="element.previewStatus==3 && !element.previewConvert"
              class="min-w-max p-2 bg-green-100 hover:bg-green-500 rounded-lg duration-300 hover:text-white aspect-square w-10"
              (click)="openModal(convertModal, element, 'convertPreview')"
            >
            <i class="fa-solid fa-arrow-rotate-right"></i>
            </button> -->
            <button *ngIf="!element.previewConvert"
                class="min-w-max p-2 bg-red-100 hover:bg-red-500 rounded-lg duration-300 hover:text-white aspect-square w-10"
                (click)="openModal(deleteModal, element, 'delete')"
              >
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </div>
          </td>
        </ng-container>

        <!-- Symbol Column -->

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          class="duration-300 hover:bg-slate-100"
          (dblclick)="openModal(dataModal, row, 'PreviewView')"
          ></tr>
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="7">
            {{ "No result found for " }} "{{ input.value }}"
          </td>
        </tr>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[10, 25, 100, dataSource.data.length]">
    </mat-paginator>
  </div>

  <!-- modals  -->
  <ng-template #dataModal>
    <div
      style="background-color: var(--base-color)"
      class="modal-header text-white flex justify-between items-center"
    >
      <h4 class="m-0">
        <span class="text-2xl">{{ 'المعاينة' | translate }}</span>
      </h4>
      <button
        type="button"
        class="text-2xl text-white m-0"
        (click)="modal?.hide()"
      >
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
    <div class="modal-body">
      <ng-container>
        <form class="modal-form" addForm="ngForm">
          <div>

            <div class="form-group">
              <label class="col-form-label">
                {{ "فرع المعاينة" | translate }}</label
              >

              <ng-select
                style="min-width: max-content"
                id="branchId"
                #branchId="ngModel"
                required
                class="w-full p-0 {{
                  branchId.invalid && branchId.touched ? 'errorInput' : ''
                }}"
                [disabled]="load_BranchUserId?.length == 1"
                [clearable]="false"
                name="branchId"
                placeholder=" {{ 'فرع المعاينة' | translate }}"
                [(ngModel)]="modalDetails.branchId"
                [ngModelOptions]="{ standalone: true }"
              >
                <ng-option
                  *ngFor="let branch of load_BranchUserId"
                  [value]="branch.id"
                  >{{ branch.name }}</ng-option
                >
              </ng-select>
            </div>

            <div class="form-group" *ngIf="TransbarcodeActive">
              <label class="col-form-label">
                {{ "باركود العمليات" | translate }}</label
              >

              <ng-select
                style="min-width: max-content"
                id="orderBarcode"
                #orderBarcode="ngModel"
                required
                class="w-full p-0 {{
                  orderBarcode.invalid && orderBarcode.touched ? 'errorInput' : ''
                }}"
                [clearable]="false"
                name="branchId"
                placeholder=" {{ 'باركود العمليات' | translate }}"
                [(ngModel)]="modalDetails.previewBarcodeSelect"
                [ngModelOptions]="{ standalone: true }"
                (change)="getpreviewdata(modalDetails.previewBarcodeSelect)"

              >
                <ng-option
                  *ngFor="let prev of load_BarcodesCustomer"
                  [value]="prev.id"
                  >{{ prev.name }}</ng-option>
              </ng-select>
            </div>


            <div class="form-group" *ngIf="!TransbarcodeActive">
              <label for="orderBarcode" class="col-form-label">
                <ng-container>
                  {{ "باركود العمليات" | translate }}
                </ng-container>
              </label>
              <input
                type="text"
                class="form-control"
                id="orderBarcode"
                autocomplete="off"
                #orderBarcode="ngModel"
                required
                class="form-control"
                name="orderBarcode"
                [disabled]="!TransbarcodeActive"
                placeholder="{{ 'Write' | translate }} {{
                  'باركود العمليات' | translate
                }} "
                [(ngModel)]="modalDetails.orderBarcode"
              />
            </div>

            <div class="form-group">
              <label for="previewCode" class="col-form-label">
                <ng-container>
                  {{ "كود المعاينة" | translate }}
                </ng-container>
              </label>
              <input
                type="text"
                class="form-control"
                id="previewCode"
                autocomplete="off"
                #previewCode="ngModel"
                required
                class="form-control"
                name="previewCode"
                disabled
                placeholder="{{ 'Write' | translate }} {{
                  'كود المعاينة' | translate
                }} "
                [(ngModel)]="modalDetails.previewCode"
              />
            </div>

            <div class="form-group">
              <label class="col-form-label">{{ "كود العميل" | translate }}</label>
              <ng-select
                style="min-width: max-content"
                id="customerId"
                #customerId="ngModel"
                required
                class="w-full p-0 {{
                  customerId.invalid && branchId.touched ? 'errorInput' : ''
                }}"
                [clearable]="true"
                [disabled]="modalDetails.type=='PreviewView'"
                name="customerId"
                (change)="CustomerChange(modalDetails.customerId)"
                placeholder=" {{ 'كود العميل' | translate }}"
                [(ngModel)]="modalDetails.customerId"
                [ngModelOptions]="{ standalone: true }"
              >
                <ng-option
                  *ngFor="let cus of load_Customers"
                  [value]="cus.customerId"
                  >{{ cus.customerCode }}</ng-option
                >
              </ng-select>
            </div>

            <div class="form-group">
              <label class="col-form-label">{{ "اسم العميل" | translate }}</label>
              <ng-select
                style="min-width: max-content"
                id="customerId"
                #customerId="ngModel"
                [disabled]="modalDetails.type=='PreviewView'"
                class="w-full p-0"
                [clearable]="true"
                name="customerId"
                placeholder=" {{ 'اسم العميل' | translate }}"
                [(ngModel)]="modalDetails.customerId"
                [ngModelOptions]="{ standalone: true }"
                (change)="CustomerChange(modalDetails.customerId)"
              >
                <ng-option
                  *ngFor="let cus of load_Customers"
                  [value]="cus.customerId"
                  >{{ cus.nameAr }}</ng-option
                >
              </ng-select>
            </div>
            
            <div class="form-group">
              <label class="col-form-label">{{ "رقم التليفون" | translate }}</label>
              <ng-select
                style="min-width: max-content"
                id="customerId"
                [disabled]="modalDetails.type=='PreviewView' || TransbarcodeActive"
                #customerId="ngModel"
                class="w-full p-0"
                [clearable]="true"
                name="customerId"
                placeholder=" {{ 'رقم التليفون' | translate }}"
                [(ngModel)]="modalDetails.customerId"
                [ngModelOptions]="{ standalone: true }"
                (change)="CustomerChange(modalDetails.customerId)"
              >
                <ng-option
                  *ngFor="let cus of load_Customers"
                  [value]="cus.customerId"
                  >{{ cus.mainPhoneNo }}</ng-option
                >
              </ng-select>
            </div>
            
            <div class="form-group">
              <label class="col-form-label">{{ "رقم التليفون 2" | translate }}</label>
              <ng-select
                style="min-width: max-content"
                id="customerId"
                [disabled]="modalDetails.type=='PreviewView' || TransbarcodeActive"
                #customerId="ngModel"
                class="w-full p-0"
                [clearable]="true"
                name="customerId"
                placeholder=" {{ 'رقم التليفون 2' | translate }}"
                [(ngModel)]="modalDetails.customerId"
                [ngModelOptions]="{ standalone: true }"
                (change)="CustomerChange(modalDetails.customerId)"
              >
                <ng-option
                  *ngFor="let cus of load_Customers"
                  [value]="cus.customerId"
                  >{{ cus.subMainPhoneNo }}</ng-option
                >
              </ng-select>
            </div>

            <div class="form-group">
              <label class="col-form-label">{{ "منطقة العميل" | translate }}</label>
              <ng-select
                style="min-width: max-content"
                id="customerId"
                #customerId="ngModel"
                class="w-full p-0"
                [clearable]="true"
                disabled
                name="customerId"
                placeholder=" {{ 'منطقة العميل' | translate }}"
                [(ngModel)]="modalDetails.customerId"
                [ngModelOptions]="{ standalone: true }"
              >
                <ng-option
                  *ngFor="let cus of load_Customers"
                  [value]="cus.customerId"
                  >{{ cus.cityName }}</ng-option
                >
              </ng-select>
            </div>

            <div class="form-group">
              <label class="col-form-label">{{ "العنوان" | translate }}</label>
              <ng-select
                style="min-width: max-content"
                id="customerId"
                #customerId="ngModel"
                class="w-full p-0"
                [clearable]="true"
                disabled
                name="customerId"
                placeholder=" {{ 'العنوان' | translate }}"
                [(ngModel)]="modalDetails.customerId"
                [ngModelOptions]="{ standalone: true }"
              >
                <ng-option
                  *ngFor="let cus of load_Customers"
                  [value]="cus.customerId"
                  >{{ cus.address }}</ng-option
                >
              </ng-select>
            </div>

            <div class="form-group">
              <label class="col-form-label">{{ "عرفتنا عن طريق" | translate }}</label>
              <ng-select
                style="min-width: max-content"
                id="customerId"
                #customerId="ngModel"
                class="w-full p-0"
                [clearable]="true"
                name="customerId"
                disabled
                placeholder=" {{ 'عرفتنا عن طريق' | translate }}"
                [(ngModel)]="modalDetails.customerId"
                [ngModelOptions]="{ standalone: true }"
              >
                <ng-option
                  *ngFor="let cus of load_Customers"
                  [value]="cus.customerId"
                  >{{ cus.socialMediaName }}</ng-option
                >
              </ng-select>
            </div>

            <div class="form-group">
              <label class="col-form-label">
                {{ "القائم بالمعاينة" | translate }}
              </label>
              <ng-select
                class="w-full p-0"
                [disabled]="modalDetails.type=='PreviewView'"
                placeholder="{{ 'القائم بالمعاينة' | translate }}"
                [(ngModel)]="modalDetails.previewChairperson"
                [ngModelOptions]="{ standalone: true }"
              >
                <ng-option *ngFor="let emp of load_Employees" [value]="emp.employeeId">{{
                  emp.nameAr
                }}</ng-option>
              </ng-select>
            </div>

            <div class="form-group">
              <label for="date" class="text-right col-form-label block">
                {{ "تاريخ المعاينة" | translate }}
              </label>
              <input
                placeholder="{{ 'Chose' | translate }}"
                name="date"
                type="text"
                class="form-control"
                [disabled]="modalDetails.type=='PreviewView'"
                bsDatepicker
                #dpr="bsDatepicker"
                autocomplete="off"
                [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                [(ngModel)]="modalDetails.date"
                [ngModelOptions]="{ standalone: true }"
              />
            </div>


            <div class="form-group">
              <label class="col-form-label">{{ "نوع المعاينة" | translate }}</label>
              <div class="flex">

                <ng-select
                style="min-width: max-content"
                id="previewTypeId"
                #customerId="ngModel"
                [disabled]="modalDetails.type=='PreviewView'"
                class="w-full p-0"
                [clearable]="true"
                name="previewTypeId"
                placeholder=" {{ 'نوع المعاينة' | translate }}"
                [(ngModel)]="modalDetails.previewTypeId"
                [ngModelOptions]="{ standalone: true }"
              >
                <ng-option
                  *ngFor="let item of PreviewTypesList"
                  [value]="item.id"
                  >{{ item.name }}</ng-option
                >
              </ng-select>

              <button
              type="button"
              class="btn bg-base text-white"
              style="padding: 5px 10px"
              (click)="open(AddOption, null, 'addtasktype')"
            >
              <i class="fa fa-plus"></i>
            </button>
              </div>


            </div>

            <div class="form-group">
              <label class="col-form-label">{{ "حالة المعاينة" | translate }}</label>
              <ng-select
                style="min-width: max-content"
                id="previewStatus"
                #customerId="ngModel"
                [disabled]="modalDetails.type=='PreviewView'"
                class="w-full p-0"
                [clearable]="true"
                name="previewStatus"
                placeholder=" {{ 'حالة المعاينة' | translate }}"
                [(ngModel)]="modalDetails.previewStatus"
                [ngModelOptions]="{ standalone: true }"
              >
              <ng-option *ngFor="let type of PreviewStatusList" [value]="type.id" [translate]="'name'"
                [translateParams]="{ar: type.name?.ar,en: type.name?.en}"></ng-option>
              </ng-select>
            </div>
            <div class="form-group">

            </div>
            <div class="form-group">

            </div>
            
            
          <div class="form-group" *ngIf="modalDetails.previewStatus==3">
            <label for="meetingCode" class="col-form-label" style="color: red;">
              <ng-container>
                {{ "كود الإجتماع" | translate }}
              </ng-container>
            </label>
            <input
              type="text"
              class="form-control"
              id="meetingCode"
              autocomplete="off"
              #meetingCode="ngModel"
              disabled
              class="form-control"
              name="meetingCode"
              placeholder="{{
                'كود الإجتماع' | translate
              }} "
              [(ngModel)]="modalDetails.meetingCode"
            />
          </div>


          <div class="form-group" *ngIf="modalDetails.previewStatus==3">
            <label for="date" class="text-right col-form-label block" style="color: red;">
              {{ "تاريخ الإجتماع" | translate }}
            </label>
            <input
              placeholder="{{ 'Chose' | translate }}"
              name="meetingDate"
              type="text"
              class="form-control"
              bsDatepicker
              #dpr="bsDatepicker"
              [disabled]="modalDetails.type=='PreviewView'"
              autocomplete="off"
              [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
              [(ngModel)]="modalDetails.meetingDate"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>

          <div class="form-group" *ngIf="modalDetails.previewStatus==3">
            <label class="col-form-label" style="color: red;">
              {{ "القائم بالإجتماع" | translate }}
            </label>
            <ng-select
              class="w-full p-0"
              [disabled]="modalDetails.type=='PreviewView'"
              placeholder="{{ 'القائم بالإجتماع' | translate }}"
              [(ngModel)]="modalDetails.meetingChairperson"
              [ngModelOptions]="{ standalone: true }"
            >
              <ng-option *ngFor="let emp of load_Employees" [value]="emp.employeeId">{{
                emp.nameAr
              }}</ng-option>
            </ng-select>
          </div>

          <!-- <div style="text-align: center;padding-top: 13%;" class="form-group" *ngIf="modalDetails.type=='PreviewView' && modalDetails.previewConvert">
            <button
            class="btn bg-base text-white"
            (click)="UpdateMeeting()">
            {{ "حفظ بيانات الإجتماع" | translate }}
          </button>
          </div> -->
         

          </div>





          <div>
            <div class="form-group col-span-4">
              <label for="example-text-input" class="col-form-label">{{
                "Notes" | translate
              }}</label>
              <textarea
                class="form-control autosizeme"
                style="
                  border: 1px solid #b0b1b2;
                  border-radius: 6px !important;
                  padding: 5px 6px;
                "
                cols="30"
                rows="4"
                [disabled]="modalDetails.type=='PreviewView'"
                id="Notestxt3"
                autocomplete="off"
                name="Notestxt3"
                placeholder="Notes"
                [(ngModel)]="modalDetails.notes"
              ></textarea>
            </div>
          </div>
        </form>
        <div
          class="flex flex-wrap items-end border-t justify-between pt-2 border-neutral-300"
        >
          <div class="flex gap-2 items-center">
            <div  *ngIf="modalDetails.addDate != null && modalDetails.addDate != ''" class="flex flex-col gap-2">
              <span>{{ "تاريخ إنشاء المستند" | translate }}</span>
              <div class="flex flex-col">
                <span>{{
                  modalDetails?.addDate | date : " hh:mm yyyy-MM-dd"}}</span>
              </div>
            </div>
          </div>
          <div  class="flex gap-2 items-center">
            <div *ngIf="modalDetails.updateDate != null && modalDetails.updateDate != ''" class="flex flex-col gap-2">
              <span>{{ "تاريخ تعديل المستند" | translate }}</span>
              <div class="flex flex-col">
                <span>{{
                  modalDetails?.addDate | date : " hh:mm yyyy-MM-dd"}}</span>
              </div>
            </div>
          </div>
          <div class="flex gap-2">
            <button *ngIf="modalDetails.type!='PreviewView'"
              class="btn bg-base text-white"
              (click)="addPreview()"
              [disabled]="disableButtonSave_Preview"
            >
              {{ "save" | translate }}
            </button>
            <button (click)="modal?.hide()" class="btn btn-secondary">
              {{ "Back" | translate }}
            </button>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-template>

  <!-- confirm delete -->
  <ng-template #deleteModal>
    <div class="modal-body text-center">
      <p
        [translate]="'name'"
        [translateParams]="{
          ar: 'هل تريد بالتأكيد حذف هذا الصف',
          en: 'Are you sure to delete this row ?'
        }"
      ></p>
      <div class="flex gap-2 justify-center">
        <button
          type="button"
          mat-raised-button
          color="warn"
          (click)="confirm()"
        >
          {{ "Yes" | translate }}
        </button>
        <button
          type="button"
          (click)="decline()"
          mat-raised-button
          color="basic"
        >
          {{ "No" | translate }}
        </button>
      </div>
    </div>
  </ng-template>
  <!-- confirm convert -->
  <ng-template #convertModal>
    <div class="modal-body text-center">
      <p
        [translate]="'name'"
        [translateParams]="{
          ar: 'هل تريد تحويل هذه المعاينة للإجتماع',
          en: 'Are you sure to convert this preview to meeting ?'
        }"
      ></p>
      <div class="flex gap-2 justify-center">
        <button
          type="button"
          mat-raised-button
          color="warn"
          (click)="confirmConvert()"
        >
          {{ "Yes" | translate }}
        </button>
        <button
          type="button"
          (click)="decline()"
          mat-raised-button
          color="basic"
        >
          {{ "No" | translate }}
        </button>
      </div>
    </div>
  </ng-template>

  <!-- confirm addPreviewMessage -->
  <ng-template #addPreviewMessage let-modal>
    <div class="modal-body text-center">
      <p
        [translate]="'name'"
        [translateParams]="{
          ar: 'هل تريد اضافة معاينة بباركود عمليات قديم ؟',
          en: 'Do you want to add a preview with an old transaction barcode?'
        }"
      ></p>
      <div class="flex gap-2 justify-center">
        <button
          type="button"
          mat-raised-button
          color="warn"
          (click)="confirmAddPreviewMessage();modal.dismiss();openModal(dataModal, null, 'addPreview1')"
        >
          {{ "Yes" | translate }}
        </button>
        <button
          type="button"
          (click)="declineAddPreviewMessage();modal.dismiss();openModal(dataModal, null, 'addPreview1')"
          mat-raised-button
          color="basic"
        >
          {{ "No" | translate }}
        </button>
      </div>
    </div>
  </ng-template>


</div>

<!-- Add option -->
<ng-template #AddOption let-modal>
  <div
    style="background-color: var(--base-color)"
    class="modal-header text-white flex justify-between items-center"
  >
    <h4 class="m-0">
      <span class="text-2xl"> نوع مهمة جديدة </span>
    </h4>
    <button
      type="button"
      class="text-2xl text-white m-0"
      (click)="modal?.dismiss()"
    >
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>
  <div class="modal-body text-center">
    <form #addPreviewType="ngForm" class="grid grid-cols-1 md:grid-cols-2 gap-2">
      <div class="form-group">
        <label for="previewTypeNameArtxt3" class="text-right col-form-label block">
          {{ "nameAr" | translate }}
          <span class="text-danger">*</span></label
        >
        <input
          required
          #previewTypeNameAr="ngModel"
          [(ngModel)]="AddDataType.PreviewTypedata.namear"
          class="form-control"
          type="text"
          id="previewTypeNameArtxt3"
          name="previewTypeNameArtxt3"
          autocomplete="off"
          [placeholder]="('Write' | translate) + ' ' + ('nameAr' | translate)"
        />
      </div>
      <div class="form-group">
        <label for="previewTypeNameEntxt3" class="text-right col-form-label block">
          {{ "nameEn" | translate }}
          <span class="text-danger">*</span></label
        >
        <div style="display: inline-flex; width: 100%">
          <input
            required
            #previewTypeNameEnValue
            #previewTypeNameEn="ngModel"
            [(ngModel)]="AddDataType.PreviewTypedata.nameen"
            class="form-control"
            type="text"
            id="previewTypeNameEntxt3"
            name="previewTypeNameEntxt3"
            autocomplete="off"
            [placeholder]="('Write' | translate) + ' ' + ('nameEn' | translate)"
          />
          <a
            class="btn"
            id="CopypreviewTypeName2"
            (click)="
              AddDataType.PreviewTypedata.nameen = AddDataType.PreviewTypedata.namear
            "
            ><i class="fa fa-copy"></i
          ></a>
        </div>
      </div>
    </form>
    <div class="max-h-80 overflow-auto px-2">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>{{ "nameAr" | translate }}</th>
            <th>{{ "nameEn" | translate }}</th>
            <th
              [translate]="'name'"
              [translateParams]="{
                ar: 'خيارات',
                en: 'Operations'
              }"
            ></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let type of PreviewTypesList"
            (dblclick)="
              setPreviewTypeInSelect(type, modal); modal.dismiss('Cross click')
            "
          >
            <td>{{ type.name }}</td>
            <td>{{ type.nameEn }}</td>
            <td class="flex gap-2 justify-center">
              <button
                class="p-2 bg-orange-100 hover:bg-orange-500 rounded-lg duration-300 hover:text-white aspect-square w-10"
                (click)="
                  AddDataType.PreviewTypedata.id = type.id;
                  AddDataType.PreviewTypedata.namear = type.name;
                  AddDataType.PreviewTypedata.nameen = type.nameEn
                "
              >
                <i class="fa-regular fa-pen-to-square"></i>
              </button>
              <button
                (click)="getPreviewTypeRow(type);
                  open(
                    deletePreviewType,
                    AddDataType.PreviewTypedata,
                    'deletePreviewType'              
                  )
                "
                class="p-2 bg-red-100 hover:bg-red-500 rounded-lg duration-300 hover:text-white aspect-square w-10"
              >
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="flex gap-2 mt-3 pt-3 border-t border-neutral-300">
      <button
        class="btn bg-base text-white"
        type="submit"
        [disabled]="!AddDataType.PreviewTypedata.namear"
        (click)="savePreviewType()"
      >
        {{ "Save" | translate }}
      </button>
      <button (click)="modal.dismiss()" class="btn btn-secondary">
        {{ "Back" | translate }}
      </button>
      <button (click)="resetPreviewType()" class="btn bg-base text-white">
        {{ "جديد" | translate }}
      </button>
    </div>
  </div>
</ng-template>

<!-- deletePreviewTypeModal -->
<ng-template #deletePreviewType let-modal>
  <div class="modal-body text-center">
    <p
      [translate]="'name'"
      [translateParams]="{
        ar: 'هل تريد بالتأكيد حذف هذا الصف',
        en: 'Are you sure to delete this row ?'
      }"
    ></p>
    <div class="flex gap-2 justify-center mt-3">
      <button
        type="button"
        mat-raised-button
        color="warn"
        (click)="confirmPreviewTypeDelete(); modal.dismiss()"
      >
        {{ "Yes" | translate }}
      </button>
      <button
        type="button"
        (click)="modal.dismiss()"
        mat-raised-button
        color="basic"
      >
        {{ "No" | translate }}
      </button>
    </div>
  </div>
</ng-template>