
<div class="container container-star">
        <div id="watermark">
            <span style="color: white;"> جميع الحقوق محفوظة لشركة </span>
             <span style="color: #000000;font-weight: bold;"> Sage-Solutions </span>
            <span style="color: white;"> المالكة للمهندس : </span>
            <span style="color: white;"> محمد داود </span>
        </div>

    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-1"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
    <div class="star-2"></div>
  </div>
  <div class="container container-bird">
    <div class="bird bird-anim">
      <div class="bird-container">
        <div class="wing wing-left">
          <div class="wing-left-top"></div>
        </div>
        <div class="wing wing-right">
          <div class="wing-right-top"></div>
        </div>
      </div>
    </div>
    <div class="bird bird-anim">
      <div class="bird-container">
        <div class="wing wing-left">
          <div class="wing-left-top"></div>
        </div>
        <div class="wing wing-right">
          <div class="wing-right-top"></div>
        </div>
      </div>
    </div>
    <div class="bird bird-anim">
      <div class="bird-container">
        <div class="wing wing-left">
          <div class="wing-left-top"></div>
        </div>
        <div class="wing wing-right">
          <div class="wing-right-top"></div>
        </div>
      </div>
    </div>
    <div class="bird bird-anim">
      <div class="bird-container">
        <div class="wing wing-left">
          <div class="wing-left-top"></div>
        </div>
        <div class="wing wing-right">
          <div class="wing-right-top"></div>
        </div>
      </div>
    </div>
    <div class="bird bird-anim">
      <div class="bird-container">
        <div class="wing wing-left">
          <div class="wing-left-top"></div>
        </div>
        <div class="wing wing-right">
          <div class="wing-right-top"></div>
        </div>
      </div>
    </div>
    <div class="bird bird-anim">
      <div class="bird-container">
        <div class="wing wing-left">
          <div class="wing-left-top"></div>
        </div>
        <div class="wing wing-right">
          <div class="wing-right-top"></div>
        </div>
      </div>
    </div>
    <div class="container-title">
      <div class="title">
        <div class="number">4</div>
        <div class="moon">
          <div class="face">
            <div class="mouth"></div>
            <div class="eyes">
              <div class="eye-left"></div>
              <div class="eye-right"></div>
            </div>
          </div>
        </div>
        <div class="number">4</div>
      </div>
      <div class="subtitle">لقد انتهت مدة صلاحية البرنامج الرجاء التواصل مع الإدارة</div>
    </div>
  </div>