.footer {
  a {
    display: block;
    color: var(--base-color);
    font-size: 0.85rem;
    font-weight: 500;
    padding: 15px;
    letter-spacing: 1px;
    text-decoration: underline;
    background-color: #f1fafe;
  }
}
